<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Phase_B Business Architecture Views</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Phase_B Business Architecture Views</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-01d43bfba30c400eba256bb90426d1e1.png" alt="Phase_B Business Architecture Views" usemap="#id-01d43bfba30c400eba256bb90426d1e1map"/>
			   <map name="id-01d43bfba30c400eba256bb90426d1e1map">
				  		<area shape="rect" coords="562,307,743,362" href="../views/id-4c777cfb35e5430eb22a049483587600.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,307,527,362" href="../views/id-8145660eaeae47e2a1038ea4a5a8ba14.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="130,307,311,362" href="../views/id-30fa2efad311487ca54909e87cc4809d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="562,199,743,254" href="../views/id-7fa8450941d347deb33dea1bd970c958.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,199,527,254" href="../views/id-63d1c68a6e4b4d0aa45e2ca4dcf3e46f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="130,199,311,254" href="../views/id-6b5c3db7b1634daf886ca865b9445926.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,155,65" href="../views/id-7d7e5cdc6a9043be8add816e1f7dd0db.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="562,91,743,146" href="../views/id-c6648e15171e4d6fa2431d0c3a510aa3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,91,527,146" href="../views/id-4d21488dd51a415e8bfe99d8dddee5f3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="130,91,311,146" href="../views/id-758fc793629847b692600d86d02c71d9.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="754,379,965,426" href="../objects/id-a74394a50b854a53b6e2c61f3ddbcd0e.html" target="element" >
				          <area shape="rect" coords="154,19,695,56" href="../objects/id-702bbd142cfe4b5fb6b78c1c44c37b9e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/13</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-702bbd142cfe4b5fb6b78c1c44c37b9e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-702bbd142cfe4b5fb6b78c1c44c37b9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a74394a50b854a53b6e2c61f3ddbcd0e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a74394a50b854a53b6e2c61f3ddbcd0e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-758fc793629847b692600d86d02c71d9.html" target="view"> Figure-09_Ogranization_View </a> </td>
											    <td> <a href="../views/id-758fc793629847b692600d86d02c71d9.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-4d21488dd51a415e8bfe99d8dddee5f3.html" target="view"> Figure-10_Organization_Decomposition(Nested) </a> </td>
											    <td> <a href="../views/id-4d21488dd51a415e8bfe99d8dddee5f3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c6648e15171e4d6fa2431d0c3a510aa3.html" target="view"> Figure-11_Value-Stream </a> </td>
											    <td> <a href="../views/id-c6648e15171e4d6fa2431d0c3a510aa3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7d7e5cdc6a9043be8add816e1f7dd0db.html" target="view"> ArchiSurance Modeling Practice </a> </td>
											    <td> <a href="../views/id-7d7e5cdc6a9043be8add816e1f7dd0db.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-6b5c3db7b1634daf886ca865b9445926.html" target="view"> Figure-12_Capability-Model-View </a> </td>
											    <td> <a href="../views/id-6b5c3db7b1634daf886ca865b9445926.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-63d1c68a6e4b4d0aa45e2ca4dcf3e46f.html" target="view"> Figure-13_Value Stream - Capability Cross-Mapping </a> </td>
											    <td> <a href="../views/id-63d1c68a6e4b4d0aa45e2ca4dcf3e46f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7fa8450941d347deb33dea1bd970c958.html" target="view"> Figure-14_Busienss_Function_View(Baseline) </a> </td>
											    <td> <a href="../views/id-7fa8450941d347deb33dea1bd970c958.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-30fa2efad311487ca54909e87cc4809d.html" target="view"> Figure-15_Capabillity-Realization </a> </td>
											    <td> <a href="../views/id-30fa2efad311487ca54909e87cc4809d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-8145660eaeae47e2a1038ea4a5a8ba14.html" target="view"> Figure-16_Business-Process </a> </td>
											    <td> <a href="../views/id-8145660eaeae47e2a1038ea4a5a8ba14.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-4c777cfb35e5430eb22a049483587600.html" target="view"> Figure-17_ValueStream_and_BusinessProcess_Mapping </a> </td>
											    <td> <a href="../views/id-4c777cfb35e5430eb22a049483587600.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>