<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Figure-15_Capabillity-Realization</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Figure-15_Capabillity-Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-30fa2efad311487ca54909e87cc4809d.png" alt="Figure-15_Capabillity-Realization" usemap="#id-30fa2efad311487ca54909e87cc4809dmap"/>
			   <map name="id-30fa2efad311487ca54909e87cc4809dmap">
				  		<area shape="rect" coords="772,286,892,341" href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html"  target="element">
				  		<area shape="rect" coords="616,286,736,341" href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html"  target="element">
				  		<area shape="rect" coords="436,288,556,343" href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html"  target="element">
				  		<area shape="rect" coords="298,289,418,344" href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html"  target="element">
				  		<area shape="rect" coords="161,288,281,343" href="../elements/id-fb5a7062d5284a39a2c528e57efd8b4a.html"  target="element">
				  		<area shape="rect" coords="12,286,132,341" href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html"  target="element">
				  		<area shape="rect" coords="616,90,736,145" href="../elements/id-cf5fd4ecb67f42ec82e197848e2f4847.html"  target="element">
				  		<area shape="rect" coords="772,90,892,145" href="../elements/id-811d6f9bc48a46cab19eff2d6dd50827.html"  target="element">
				  		<area shape="rect" coords="616,178,736,233" href="../elements/id-b363a11b315b406c9283529b34339807.html"  target="element">
				  		<area shape="rect" coords="436,90,556,145" href="../elements/id-c4be40fce29c4895aac6b4f3136e3fac.html"  target="element">
				  		<area shape="rect" coords="244,90,364,145" href="../elements/id-d03cfe3302cf44d8a8dfdcb2e3182450.html"  target="element">
				  		<area shape="rect" coords="10,90,130,145" href="../elements/id-81f31b93e64f4d6faf6ded97a4d21fc2.html"  target="element">
				          <area shape="rect" coords="681,370,892,417" href="../objects/id-c2ce8250e371419c88351b9f8c16ea46.html" target="element" >
				          <area shape="rect" coords="172,10,713,47" href="../objects/id-c3a2f9e3615c4d3e9706376c0aac0086.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/4/30</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c3a2f9e3615c4d3e9706376c0aac0086.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3a2f9e3615c4d3e9706376c0aac0086.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c2ce8250e371419c88351b9f8c16ea46.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c2ce8250e371419c88351b9f8c16ea46.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-81f31b93e64f4d6faf6ded97a4d21fc2.html" target="element"> Customer Management </a> </td>
											    <td> <a href="../elements/id-81f31b93e64f4d6faf6ded97a4d21fc2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d03cfe3302cf44d8a8dfdcb2e3182450.html" target="element"> Policy and Claim Management </a> </td>
											    <td> <a href="../elements/id-d03cfe3302cf44d8a8dfdcb2e3182450.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c4be40fce29c4895aac6b4f3136e3fac.html" target="element"> Product Management </a> </td>
											    <td> <a href="../elements/id-c4be40fce29c4895aac6b4f3136e3fac.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b363a11b315b406c9283529b34339807.html" target="element"> Money Management </a> </td>
											    <td> <a href="../elements/id-b363a11b315b406c9283529b34339807.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-811d6f9bc48a46cab19eff2d6dd50827.html" target="element"> Asset Management </a> </td>
											    <td> <a href="../elements/id-811d6f9bc48a46cab19eff2d6dd50827.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf5fd4ecb67f42ec82e197848e2f4847.html" target="element"> Money Market Management </a> </td>
											    <td> <a href="../elements/id-cf5fd4ecb67f42ec82e197848e2f4847.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
											    <td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb5a7062d5284a39a2c528e57efd8b4a.html" target="element"> Claims Handling </a> </td>
											    <td> <a href="../elements/id-fb5a7062d5284a39a2c528e57efd8b4a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
											    <td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
											    <td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
											    <td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
											    <td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a88b42a5c4064caa9e3b66c342114926.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a88b42a5c4064caa9e3b66c342114926.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf5fd4ecb67f42ec82e197848e2f4847.html" target="element"> Money Market Management </a> </td>
																		<td> <a href="../elements/id-b363a11b315b406c9283529b34339807.html" target="element"> Money Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0aebe3373ede493996e3de6578622db3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0aebe3373ede493996e3de6578622db3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
																		<td> <a href="../elements/id-81f31b93e64f4d6faf6ded97a4d21fc2.html" target="element"> Customer Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-11c0cffd0fc641c08d1b575d0de71b54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11c0cffd0fc641c08d1b575d0de71b54.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb5a7062d5284a39a2c528e57efd8b4a.html" target="element"> Claims Handling </a> </td>
																		<td> <a href="../elements/id-d03cfe3302cf44d8a8dfdcb2e3182450.html" target="element"> Policy and Claim Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81ca721bf2e1475694d1ce9c481c7d92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81ca721bf2e1475694d1ce9c481c7d92.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
																		<td> <a href="../elements/id-d03cfe3302cf44d8a8dfdcb2e3182450.html" target="element"> Policy and Claim Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ba3f7dace8346a194db40485912a9fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ba3f7dace8346a194db40485912a9fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																		<td> <a href="../elements/id-c4be40fce29c4895aac6b4f3136e3fac.html" target="element"> Product Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f986f584e3d5476c86153727b3f4a976.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f986f584e3d5476c86153727b3f4a976.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																		<td> <a href="../elements/id-d03cfe3302cf44d8a8dfdcb2e3182450.html" target="element"> Policy and Claim Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-314be63f601d4f908da8d8540b35068e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-314be63f601d4f908da8d8540b35068e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																		<td> <a href="../elements/id-811d6f9bc48a46cab19eff2d6dd50827.html" target="element"> Asset Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc82211e5d254e239fbafdd319103d80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc82211e5d254e239fbafdd319103d80.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																		<td> <a href="../elements/id-b363a11b315b406c9283529b34339807.html" target="element"> Money Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9f6cb2d3f0e640379e7873dc6f455b8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f6cb2d3f0e640379e7873dc6f455b8e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
																		<td> <a href="../elements/id-811d6f9bc48a46cab19eff2d6dd50827.html" target="element"> Asset Management </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>