<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Phase_A Vision Views</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Phase_A Vision Views</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3b96fce92d734feb8eeaf90e230e8d0c.png" alt="Phase_A Vision Views" usemap="#id-3b96fce92d734feb8eeaf90e230e8d0cmap"/>
			   <map name="id-3b96fce92d734feb8eeaf90e230e8d0cmap">
				  		<area shape="rect" coords="358,238,539,293" href="../views/id-c7c26d7b36cb42ccaf8fda65a2579db3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="790,154,971,209" href="../views/id-2225b06e9a0d477c96b843cdbc19d4b5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="574,154,755,209" href="../views/id-70b8113c4d76419b8fa8a6658f8d236f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="358,154,539,209" href="../views/id-f4688f312619422594a58673dfbbe371.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="790,70,971,125" href="../views/id-466703bc6d0e42c09037bb53a6f905a0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="574,70,755,125" href="../views/id-a187c7fefcbd4e8b9403377cab9277ef.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="358,70,539,125" href="../views/id-54d7d48035bd4cb98521006e0e4c2a79.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="10,70,359,227" href="../objects/id-8798abc2baf24246b016923e337dcf93.html" target="element" >
				          <area shape="rect" coords="70,318,281,365" href="../objects/id-8b8b6def80c84ca38ea67fc608f27e6e.html" target="element" >
				          <area shape="rect" coords="190,10,731,47" href="../objects/id-f68946b29f60458d81e4e00282d86aef.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">List of Figures
=========
03: Stakeholder View
04: Business Goals, Assessments, and Expented Outcomes Associated with teh Driver Profitability
05: Principles View
06: Goal Refinement View for Retionalization Strategy
07: Strategy View for Digital Cusotmer Intimacy Strategy
08: Solution Concept View</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/4/16</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f68946b29f60458d81e4e00282d86aef.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f68946b29f60458d81e4e00282d86aef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8b8b6def80c84ca38ea67fc608f27e6e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8b8b6def80c84ca38ea67fc608f27e6e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8798abc2baf24246b016923e337dcf93.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8798abc2baf24246b016923e337dcf93.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-54d7d48035bd4cb98521006e0e4c2a79.html" target="view"> 03_Fragement of a Stakeholder View (v2 and v3.1) </a> </td>
											    <td> <a href="../views/id-54d7d48035bd4cb98521006e0e4c2a79.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-a187c7fefcbd4e8b9403377cab9277ef.html" target="view"> 04 Business Goals Associated with the Driver Profitability (v2） </a> </td>
											    <td> <a href="../views/id-a187c7fefcbd4e8b9403377cab9277ef.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-466703bc6d0e42c09037bb53a6f905a0.html" target="view"> 04 Business Goals Associated with the Driver Profitability (v3.1） </a> </td>
											    <td> <a href="../views/id-466703bc6d0e42c09037bb53a6f905a0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-f4688f312619422594a58673dfbbe371.html" target="view"> 05 Principles View (v2 and v3.1) </a> </td>
											    <td> <a href="../views/id-f4688f312619422594a58673dfbbe371.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-70b8113c4d76419b8fa8a6658f8d236f.html" target="view"> 06 Goal Refinement </a> </td>
											    <td> <a href="../views/id-70b8113c4d76419b8fa8a6658f8d236f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-2225b06e9a0d477c96b843cdbc19d4b5.html" target="view"> 07 Strategy View - Long Term </a> </td>
											    <td> <a href="../views/id-2225b06e9a0d477c96b843cdbc19d4b5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c7c26d7b36cb42ccaf8fda65a2579db3.html" target="view"> 08 Solution Concept View </a> </td>
											    <td> <a href="../views/id-c7c26d7b36cb42ccaf8fda65a2579db3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>