<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Figure-14_Busienss_Function_View(Baseline)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Figure-14_Busienss_Function_View(Baseline)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7fa8450941d347deb33dea1bd970c958.png" alt="Figure-14_Busienss_Function_View(Baseline)" usemap="#id-7fa8450941d347deb33dea1bd970c958map"/>
			   <map name="id-7fa8450941d347deb33dea1bd970c958map">
				  				<area shape="rect" coords="634,490,754,545" href="../elements/id-05064aa90f4b4d86ae20ab2cb7f18175.html"  target="element">

				  		<area shape="rect" coords="610,454,778,561" href="../elements/id-04c0ce5cab684488889f6ead81920128.html"  target="element">
				  				<area shape="rect" coords="322,136,442,191" href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html"  target="element">
				  				<area shape="rect" coords="322,334,442,389" href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html"  target="element">
				  				<area shape="rect" coords="322,232,442,287" href="../elements/id-4c559118def242459d0f5931590565b1.html"  target="element">

				  		<area shape="rect" coords="286,94,467,407" href="../elements/id-2ac6b5a7c90e45359811a693e40fca1d.html"  target="element">
				  				<area shape="rect" coords="34,318,154,373" href="../elements/id-1f23c44d91a64ed6a9636bc1279bf7d3.html"  target="element">
				  				<area shape="rect" coords="34,222,154,277" href="../elements/id-85c0ee259e934e56962ee3176ebf3fbe.html"  target="element">
				  				<area shape="rect" coords="34,126,154,181" href="../elements/id-fefab312c8fc4e0f8dee08b637fe81ce.html"  target="element">

				  		<area shape="rect" coords="10,90,184,412" href="../elements/id-970ab09789e246f9822180ece1416a63.html"  target="element">
				  				<area shape="rect" coords="958,490,1078,545" href="../elements/id-7c136ac7cc0f4d2bbd9b1eb870df4837.html"  target="element">

				  		<area shape="rect" coords="934,454,1102,561" href="../elements/id-1b3feaf0c2d840a4a97bf5ae7b563106.html"  target="element">
				  				<area shape="rect" coords="617,334,737,389" href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html"  target="element">
				  				<area shape="rect" coords="622,226,742,281" href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html"  target="element">
				  				<area shape="rect" coords="622,130,742,185" href="../elements/id-d76e116716674d5eab95ad5d556ec820.html"  target="element">
				  				<area shape="rect" coords="946,334,1066,389" href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html"  target="element">
				  				<area shape="rect" coords="946,226,1066,281" href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html"  target="element">

				  		<area shape="rect" coords="538,94,1102,407" href="../elements/id-75daffff269c4f65909e8d228245107a.html"  target="element">
				          <area shape="rect" coords="891,22,1102,69" href="../objects/id-67dacc7afc944313901638f70c865845.html" target="element" >
				          <area shape="rect" coords="262,10,803,47" href="../objects/id-3c859a1b5fb7428ebbd34b637bedbfa5.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/4/30</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-3c859a1b5fb7428ebbd34b637bedbfa5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3c859a1b5fb7428ebbd34b637bedbfa5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-67dacc7afc944313901638f70c865845.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-67dacc7afc944313901638f70c865845.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element"> Back Office </a> </td>
											    <td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
													    <td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
													    <td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element"> Claims </a> </td>
													    <td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
													    <td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
													    <td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1b3feaf0c2d840a4a97bf5ae7b563106.html" target="element"> Bank </a> </td>
											    <td> <a href="../elements/id-1b3feaf0c2d840a4a97bf5ae7b563106.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7c136ac7cc0f4d2bbd9b1eb870df4837.html" target="element"> Banking </a> </td>
													    <td> <a href="../elements/id-7c136ac7cc0f4d2bbd9b1eb870df4837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-970ab09789e246f9822180ece1416a63.html" target="element"> Client </a> </td>
											    <td> <a href="../elements/id-970ab09789e246f9822180ece1416a63.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fefab312c8fc4e0f8dee08b637fe81ce.html" target="element"> Claims Submission </a> </td>
													    <td> <a href="../elements/id-fefab312c8fc4e0f8dee08b637fe81ce.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85c0ee259e934e56962ee3176ebf3fbe.html" target="element"> Buying Insurance </a> </td>
													    <td> <a href="../elements/id-85c0ee259e934e56962ee3176ebf3fbe.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f23c44d91a64ed6a9636bc1279bf7d3.html" target="element"> Information Provisioning </a> </td>
													    <td> <a href="../elements/id-1f23c44d91a64ed6a9636bc1279bf7d3.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2ac6b5a7c90e45359811a693e40fca1d.html" target="element"> Front Office </a> </td>
											    <td> <a href="../elements/id-2ac6b5a7c90e45359811a693e40fca1d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
													    <td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html" target="element"> Marketing </a> </td>
													    <td> <a href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
													    <td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-04c0ce5cab684488889f6ead81920128.html" target="element"> Shared Service Center </a> </td>
											    <td> <a href="../elements/id-04c0ce5cab684488889f6ead81920128.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-05064aa90f4b4d86ae20ab2cb7f18175.html" target="element"> Document Processing </a> </td>
													    <td> <a href="../elements/id-05064aa90f4b4d86ae20ab2cb7f18175.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-422eb9976c20496aa4adc69c053ba4da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-422eb9976c20496aa4adc69c053ba4da.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de8833c3c5f942afa7f9692e64635a6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de8833c3c5f942afa7f9692e64635a6f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da8e32d7495c4f42b8d397fa25810404.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da8e32d7495c4f42b8d397fa25810404.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element"> Claims </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5a69b2c3d84437b9e83c000a5ad1d47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5a69b2c3d84437b9e83c000a5ad1d47.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-302a092ffa6048f2bb3feba589798ae7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-302a092ffa6048f2bb3feba589798ae7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75daffff269c4f65909e8d228245107a.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-70cdfe43633a4367bcb570e30a26d776.html" target="element"> policies </a> </td>
																				<td> <a href="../elements/id-70cdfe43633a4367bcb570e30a26d776.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
																				<td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element"> Claims </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dcec1690c8134d0ba0c03e4fe9028a75.html" target="element"> financial obligations </a> </td>
																				<td> <a href="../elements/id-dcec1690c8134d0ba0c03e4fe9028a75.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d127ad928a8f445ca9cfbfcdb433f993.html" target="element"> money </a> </td>
																				<td> <a href="../elements/id-d127ad928a8f445ca9cfbfcdb433f993.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c01f5433d814421a852f97561f6bcf19.html" target="element"> money </a> </td>
																				<td> <a href="../elements/id-c01f5433d814421a852f97561f6bcf19.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
																				<td> <a href="../elements/id-7c136ac7cc0f4d2bbd9b1eb870df4837.html" target="element"> Banking </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4f7682e94e664419b65bf78d0659ac7c.html" target="element"> claim payments due </a> </td>
																				<td> <a href="../elements/id-4f7682e94e664419b65bf78d0659ac7c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element"> Claims </a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-146948d1e5474100bf494def029a2d98.html" target="element"> premium payment status </a> </td>
																				<td> <a href="../elements/id-146948d1e5474100bf494def029a2d98.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																				<td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element"> Claims </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6f5ee09b0d254d4b90948e676dfb9135.html" target="element"> money </a> </td>
																				<td> <a href="../elements/id-6f5ee09b0d254d4b90948e676dfb9135.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																				<td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-899694ccf5d34eeea891f33a0972181c.html" target="element"> premium info </a> </td>
																				<td> <a href="../elements/id-899694ccf5d34eeea891f33a0972181c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																				<td> <a href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html" target="element"> Marketing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bc70c9bc5ef44110ad8f8d23085cb6a5.html" target="element"> financial risk </a> </td>
																				<td> <a href="../elements/id-bc70c9bc5ef44110ad8f8d23085cb6a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8c7e66ba5510448db6df1a4b62acd48b.html" target="element"> premium info </a> </td>
																				<td> <a href="../elements/id-8c7e66ba5510448db6df1a4b62acd48b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																				<td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4cc2d0ddb5154673a06c5e25ab6fba04.html" target="element"> documents </a> </td>
																				<td> <a href="../elements/id-4cc2d0ddb5154673a06c5e25ab6fba04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																				<td> <a href="../elements/id-05064aa90f4b4d86ae20ab2cb7f18175.html" target="element"> Document Processing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-72a1b0b43e5a4a8997767de87bd4bb7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72a1b0b43e5a4a8997767de87bd4bb7c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b3feaf0c2d840a4a97bf5ae7b563106.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/id-7c136ac7cc0f4d2bbd9b1eb870df4837.html" target="element"> Banking </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b5c8e72aea3d48e79824b69bf62f5e23.html" target="element"> money </a> </td>
																				<td> <a href="../elements/id-b5c8e72aea3d48e79824b69bf62f5e23.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c136ac7cc0f4d2bbd9b1eb870df4837.html" target="element"> Banking </a> </td>
																				<td> <a href="../elements/id-d54347c0d1ed43cda2624e1041debf9f.html" target="element"> Investment Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-da2dad43f60f4552940734b25641de10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da2dad43f60f4552940734b25641de10.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-970ab09789e246f9822180ece1416a63.html" target="element"> Client </a> </td>
																		<td> <a href="../elements/id-fefab312c8fc4e0f8dee08b637fe81ce.html" target="element"> Claims Submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f0588f9d24174949be4c2ac0ebd32cde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0588f9d24174949be4c2ac0ebd32cde.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-970ab09789e246f9822180ece1416a63.html" target="element"> Client </a> </td>
																		<td> <a href="../elements/id-85c0ee259e934e56962ee3176ebf3fbe.html" target="element"> Buying Insurance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-239c5b40c29a4da8842883f17fd8ba11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-239c5b40c29a4da8842883f17fd8ba11.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-970ab09789e246f9822180ece1416a63.html" target="element"> Client </a> </td>
																		<td> <a href="../elements/id-1f23c44d91a64ed6a9636bc1279bf7d3.html" target="element"> Information Provisioning </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b44cf4a02c174f6790143a2b692e0c8e.html" target="element"> claims </a> </td>
																				<td> <a href="../elements/id-b44cf4a02c174f6790143a2b692e0c8e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fefab312c8fc4e0f8dee08b637fe81ce.html" target="element"> Claims Submission </a> </td>
																				<td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-92007180695e46e7ac5f948894ef0fcb.html" target="element"> requests </a> </td>
																				<td> <a href="../elements/id-92007180695e46e7ac5f948894ef0fcb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-85c0ee259e934e56962ee3176ebf3fbe.html" target="element"> Buying Insurance </a> </td>
																				<td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-339465c230484013bf68b078b2202f99.html" target="element"> customer info </a> </td>
																				<td> <a href="../elements/id-339465c230484013bf68b078b2202f99.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1f23c44d91a64ed6a9636bc1279bf7d3.html" target="element"> Information Provisioning </a> </td>
																				<td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7fc3a36e310a4307b530723ff1814324.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fc3a36e310a4307b530723ff1814324.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ac6b5a7c90e45359811a693e40fca1d.html" target="element"> Front Office </a> </td>
																		<td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6108b3995104c00a76ee483df91191c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6108b3995104c00a76ee483df91191c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ac6b5a7c90e45359811a693e40fca1d.html" target="element"> Front Office </a> </td>
																		<td> <a href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html" target="element"> Marketing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22f2e375d3db46cb8a912423872001fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22f2e375d3db46cb8a912423872001fe.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ac6b5a7c90e45359811a693e40fca1d.html" target="element"> Front Office </a> </td>
																		<td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e2b707e2cb2a4497984ec81626bde6e3.html" target="element"> policies </a> </td>
																				<td> <a href="../elements/id-e2b707e2cb2a4497984ec81626bde6e3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/id-85c0ee259e934e56962ee3176ebf3fbe.html" target="element"> Buying Insurance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a152d9d3ad654dd7967aa94babb6c884.html" target="element"> new contracts, premiums due </a> </td>
																				<td> <a href="../elements/id-a152d9d3ad654dd7967aa94babb6c884.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/id-4ad90e80bdf248bdbb40e9747ad8725d.html" target="element"> Finance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d241d1ec8be7462c84d79a60fe65ebb6.html" target="element"> product info </a> </td>
																				<td> <a href="../elements/id-d241d1ec8be7462c84d79a60fe65ebb6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html" target="element"> Marketing </a> </td>
																				<td> <a href="../elements/id-1f23c44d91a64ed6a9636bc1279bf7d3.html" target="element"> Information Provisioning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a012f94504934e4bb882026f09159067.html" target="element"> product info </a> </td>
																				<td> <a href="../elements/id-a012f94504934e4bb882026f09159067.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e527061b83a4349a75e3cebd1da65b8.html" target="element"> Marketing </a> </td>
																				<td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bd61e647b0f94415b24668e9558aa1b2.html" target="element"> customer info </a> </td>
																				<td> <a href="../elements/id-bd61e647b0f94415b24668e9558aa1b2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
																				<td> <a href="../elements/id-4c559118def242459d0f5931590565b1.html" target="element"> Sales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-36cdc92655af467e859887924174867f.html" target="element"> claims </a> </td>
																				<td> <a href="../elements/id-36cdc92655af467e859887924174867f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-06c0bce636004e398ac7fa688a5cf35a.html" target="element"> Customer Relations </a> </td>
																				<td> <a href="../elements/id-d76e116716674d5eab95ad5d556ec820.html" target="element"> Claims </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cf5b1d06b28d404d8d3f776b873ce55f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf5b1d06b28d404d8d3f776b873ce55f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04c0ce5cab684488889f6ead81920128.html" target="element"> Shared Service Center </a> </td>
																		<td> <a href="../elements/id-05064aa90f4b4d86ae20ab2cb7f18175.html" target="element"> Document Processing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4c961b4f8b744be0aafacfbfc33243aa.html" target="element"> documents </a> </td>
																				<td> <a href="../elements/id-4c961b4f8b744be0aafacfbfc33243aa.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-05064aa90f4b4d86ae20ab2cb7f18175.html" target="element"> Document Processing </a> </td>
																				<td> <a href="../elements/id-e9e45a5ee71e415db83b16b240b99fe6.html" target="element"> Actuarial </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>