<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Figure25_Application-Behavior(Target)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Figure25_Application-Behavior(Target)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-87a65f9a15064e6c8293a713b44fc7a4.png" alt="Figure25_Application-Behavior(Target)" usemap="#id-87a65f9a15064e6c8293a713b44fc7a4map"/>
			   <map name="id-87a65f9a15064e6c8293a713b44fc7a4map">
				  		<area shape="rect" coords="255,334,375,389" href="../elements/id-ecb744cc4cc54e31aad353c235ca34c2.html"  target="element">
				  		<area shape="rect" coords="94,358,214,413" href="../elements/id-545855797e6f416ab5351b1794d30452.html"  target="element">
				  		<area shape="rect" coords="515,106,635,161" href="../elements/id-09743dfde18f41eeafab438cb453c486.html"  target="element">
				  						<area shape="rect" coords="244,238,364,293" href="../elements/id-e7b7f3711ba14fa1a1b381e641eea2a4.html"  target="element">
				  						<area shape="rect" coords="394,238,514,293" href="../elements/id-1d1108f313c845219b5b0b5da6a40e64.html"  target="element">
				  						<area shape="rect" coords="94,238,214,293" href="../elements/id-6d186483107347ee821bac3926126530.html"  target="element">

				  				<area shape="rect" coords="58,214,549,308" href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html"  target="element">

				  		<area shape="rect" coords="10,178,592,322" href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html"  target="element">
				  		<area shape="rect" coords="382,65,502,120" href="../elements/id-6b76404bcb9a465495f5c261f5589835.html"  target="element">
				  		<area shape="rect" coords="147,65,267,120" href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html"  target="element">
				          <area shape="rect" coords="469,382,680,429" href="../objects/id-c8b03ee2e69542a197e4338fc6427c72.html" target="element" >
				          <area shape="rect" coords="75,10,616,47" href="../objects/id-f377d240f87f43949b9b434bddee42f1.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/15</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f377d240f87f43949b9b434bddee42f1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f377d240f87f43949b9b434bddee42f1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c8b03ee2e69542a197e4338fc6427c72.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c8b03ee2e69542a197e4338fc6427c72.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
											    <td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    	(Icon for Business to Business Function)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b76404bcb9a465495f5c261f5589835.html" target="element"> L1 Calculate Insurance Premium </a> </td>
											    <td> <a href="../elements/id-6b76404bcb9a465495f5c261f5589835.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element"> Data Warehousing Solution </a> </td>
											    <td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html" target="element"> L1 Process Data </a> </td>
													    <td> <a href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6d186483107347ee821bac3926126530.html" target="element"> L2 Aggregate Data </a> </td>
															    <td> <a href="../elements/id-6d186483107347ee821bac3926126530.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1d1108f313c845219b5b0b5da6a40e64.html" target="element"> L2 Report Data </a> </td>
															    <td> <a href="../elements/id-1d1108f313c845219b5b0b5da6a40e64.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e7b7f3711ba14fa1a1b381e641eea2a4.html" target="element"> L2 Analyze Data </a> </td>
															    <td> <a href="../elements/id-e7b7f3711ba14fa1a1b381e641eea2a4.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-09743dfde18f41eeafab438cb453c486.html" target="element"> Customer Profile Data </a> </td>
											    <td> <a href="../elements/id-09743dfde18f41eeafab438cb453c486.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-545855797e6f416ab5351b1794d30452.html" target="element"> Data Acquisition </a> </td>
											    <td> <a href="../elements/id-545855797e6f416ab5351b1794d30452.html" target="element" class="i18n-elementtype-TechnologyFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecb744cc4cc54e31aad353c235ca34c2.html" target="element"> Real-Time Customer Data </a> </td>
											    <td> <a href="../elements/id-ecb744cc4cc54e31aad353c235ca34c2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-3434359fdc24493a9a3d005d2d7683f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3434359fdc24493a9a3d005d2d7683f2.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b76404bcb9a465495f5c261f5589835.html" target="element"> L1 Calculate Insurance Premium </a> </td>
																		<td> <a href="../elements/id-931aa56cd9714ed197a1e9cbfe4345e6.html" target="element"> Underwriting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1519bae04f8c40c1944a8a160fb60580.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1519bae04f8c40c1944a8a160fb60580.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element"> Data Warehousing Solution </a> </td>
																		<td> <a href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html" target="element"> L1 Process Data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-59c8d51d91ce4242a4471a6e064cb6f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-59c8d51d91ce4242a4471a6e064cb6f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html" target="element"> L1 Process Data </a> </td>
																				<td> <a href="../elements/id-6d186483107347ee821bac3926126530.html" target="element"> L2 Aggregate Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dc598677d513424c829055de42bbba31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc598677d513424c829055de42bbba31.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html" target="element"> L1 Process Data </a> </td>
																				<td> <a href="../elements/id-1d1108f313c845219b5b0b5da6a40e64.html" target="element"> L2 Report Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d6444b74050c4181b19bd98668d9325f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6444b74050c4181b19bd98668d9325f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a03daecf057a4a23908612b34f5d7f0d.html" target="element"> L1 Process Data </a> </td>
																				<td> <a href="../elements/id-e7b7f3711ba14fa1a1b381e641eea2a4.html" target="element"> L2 Analyze Data </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-2485ac0bfc3c403c8568db37277e662c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2485ac0bfc3c403c8568db37277e662c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-6d186483107347ee821bac3926126530.html" target="element"> L2 Aggregate Data </a> </td>
																						<td> <a href="../elements/id-e7b7f3711ba14fa1a1b381e641eea2a4.html" target="element"> L2 Analyze Data </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-ac3e75c936d7421eb09b40e4fabbd039.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ac3e75c936d7421eb09b40e4fabbd039.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-1d1108f313c845219b5b0b5da6a40e64.html" target="element"> L2 Report Data </a> </td>
																						<td> <a href="../elements/id-6b76404bcb9a465495f5c261f5589835.html" target="element"> L1 Calculate Insurance Premium </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-f7c5af124414492a86f408baa27a4232.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f7c5af124414492a86f408baa27a4232.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e7b7f3711ba14fa1a1b381e641eea2a4.html" target="element"> L2 Analyze Data </a> </td>
																						<td> <a href="../elements/id-1d1108f313c845219b5b0b5da6a40e64.html" target="element"> L2 Report Data </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-d03a574dc1db48b0aaa7adf352f9eaba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d03a574dc1db48b0aaa7adf352f9eaba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09743dfde18f41eeafab438cb453c486.html" target="element"> Customer Profile Data </a> </td>
																		<td> <a href="../elements/id-ac3e75c936d7421eb09b40e4fabbd039.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a6b9dda5d6224ad88dd26c66ec83b2e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6b9dda5d6224ad88dd26c66ec83b2e8.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-545855797e6f416ab5351b1794d30452.html" target="element"> Data Acquisition </a> </td>
																		<td> <a href="../elements/id-6d186483107347ee821bac3926126530.html" target="element"> L2 Aggregate Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61f9f7b21dde432e93d66437a9a650b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61f9f7b21dde432e93d66437a9a650b3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ecb744cc4cc54e31aad353c235ca34c2.html" target="element"> Real-Time Customer Data </a> </td>
																		<td> <a href="../elements/id-a6b9dda5d6224ad88dd26c66ec83b2e8.html" target="element">  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>