<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Figure23_Application-Coorperation(Target)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Figure23_Application-Coorperation(Target)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aed69adc216a48119ebe68c726d492b1.png" alt="Figure23_Application-Coorperation(Target)" usemap="#id-aed69adc216a48119ebe68c726d492b1map"/>
			   <map name="id-aed69adc216a48119ebe68c726d492b1map">
				  				<area shape="rect" coords="82,632,730,687" href="../elements/id-63500a4b6e0b4ff186e37322c0c90c8b.html"  target="element">

				  		<area shape="rect" coords="10,596,791,717" href="../elements/id-76602ed754ba47d69987d2483fe99f71.html"  target="element">
				  				<area shape="rect" coords="646,332,766,537" href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html"  target="element">
				  						<area shape="rect" coords="157,414,277,469" href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html"  target="element">
				  						<area shape="rect" coords="385,326,505,381" href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html"  target="element">
				  						<area shape="rect" coords="70,326,190,381" href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html"  target="element">
				  						<area shape="rect" coords="238,482,358,537" href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html"  target="element">
				  						<area shape="rect" coords="229,326,349,381" href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html"  target="element">

				  				<area shape="rect" coords="34,302,551,549" href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html"  target="element">

				  		<area shape="rect" coords="10,284,791,561" href="../elements/id-a79f8dfb0a3d4aa9aea196cad81b262c.html"  target="element">
				  				<area shape="rect" coords="118,92,238,147" href="../elements/id-0fa51663d3bd4a41bcb55c0f7fde4e9b.html"  target="element">
				  				<area shape="rect" coords="118,200,238,255" href="../elements/id-de38273919394e238e6df505d2521689.html"  target="element">
				  				<area shape="rect" coords="464,92,584,255" href="../elements/id-b21499b418c443d8b18d033907ce1266.html"  target="element">

				  		<area shape="rect" coords="10,68,791,267" href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html"  target="element">
				          <area shape="rect" coords="646,10,857,57" href="../objects/id-a950ff16a7874039abe940a2e06083f5.html" target="element" >
				          <area shape="rect" coords="130,20,671,57" href="../objects/id-03246a15faf94c869daca656400065b5.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/15</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-03246a15faf94c869daca656400065b5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-03246a15faf94c869daca656400065b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a950ff16a7874039abe940a2e06083f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a950ff16a7874039abe940a2e06083f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
											    <td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
													    <td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de38273919394e238e6df505d2521689.html" target="element"> Call Center Application </a> </td>
													    <td> <a href="../elements/id-de38273919394e238e6df505d2521689.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0fa51663d3bd4a41bcb55c0f7fde4e9b.html" target="element"> Web Portal </a> </td>
													    <td> <a href="../elements/id-0fa51663d3bd4a41bcb55c0f7fde4e9b.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a79f8dfb0a3d4aa9aea196cad81b262c.html" target="element"> Back Office </a> </td>
											    <td> <a href="../elements/id-a79f8dfb0a3d4aa9aea196cad81b262c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
													    <td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
															    <td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html" target="element"> BRIMS </a> </td>
															    <td> <a href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element"> AUTO-U </a> </td>
															    <td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html" target="element"> VERSA-CLAIM </a> </td>
															    <td> <a href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html" target="element"> P-CONFIG </a> </td>
															    <td> <a href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element"> Data Warehousing Solution </a> </td>
													    <td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element"> Shared Service Center </a> </td>
											    <td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-63500a4b6e0b4ff186e37322c0c90c8b.html" target="element"> Document Management System </a> </td>
													    <td> <a href="../elements/id-63500a4b6e0b4ff186e37322c0c90c8b.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-339e3c080c40493c9df964286eb686e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-339e3c080c40493c9df964286eb686e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
																		<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a54aaad007c47a9918d87761145ab03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a54aaad007c47a9918d87761145ab03.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
																		<td> <a href="../elements/id-de38273919394e238e6df505d2521689.html" target="element"> Call Center Application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a8c2954a972410281fdb02d208c0368.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a8c2954a972410281fdb02d208c0368.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
																		<td> <a href="../elements/id-0fa51663d3bd4a41bcb55c0f7fde4e9b.html" target="element"> Web Portal </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ef9533b413914701a4da76ed68e2e978.html" target="element"> CRM data </a> </td>
																				<td> <a href="../elements/id-ef9533b413914701a4da76ed68e2e978.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																				<td> <a href="../elements/id-0fa51663d3bd4a41bcb55c0f7fde4e9b.html" target="element"> Web Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d61704f63c24ed4b1a593f7ebaa3b5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d61704f63c24ed4b1a593f7ebaa3b5d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																				<td> <a href="../elements/id-de38273919394e238e6df505d2521689.html" target="element"> Call Center Application </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-150491a4157d47eb9cf0f672bb93e387.html" target="element"> call report </a> </td>
																				<td> <a href="../elements/id-150491a4157d47eb9cf0f672bb93e387.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de38273919394e238e6df505d2521689.html" target="element"> Call Center Application </a> </td>
																				<td> <a href="../elements/id-0fa51663d3bd4a41bcb55c0f7fde4e9b.html" target="element"> Web Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-65913aaee6c747289c7d478befdaaa17.html" target="element"> call report </a> </td>
																				<td> <a href="../elements/id-65913aaee6c747289c7d478befdaaa17.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de38273919394e238e6df505d2521689.html" target="element"> Call Center Application </a> </td>
																				<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-991a669d463a483a8a1586b95fb2bb5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-991a669d463a483a8a1586b95fb2bb5a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a79f8dfb0a3d4aa9aea196cad81b262c.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ea6a57a37a14a02ba78848d6dce065e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ea6a57a37a14a02ba78848d6dce065e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a79f8dfb0a3d4aa9aea196cad81b262c.html" target="element"> Back Office </a> </td>
																		<td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element"> Data Warehousing Solution </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-623b90477a7a403d8315f14aa3318fa1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-623b90477a7a403d8315f14aa3318fa1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element"> Data Warehousing Solution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7f9bc3fd06484b51aa9063df40027e07.html" target="element"> customer data </a> </td>
																				<td> <a href="../elements/id-7f9bc3fd06484b51aa9063df40027e07.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31e3fc570736420b844bc1329321e28c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31e3fc570736420b844bc1329321e28c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0e860c9bf3745f989ffc636e6e491f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0e860c9bf3745f989ffc636e6e491f9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html" target="element"> BRIMS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bd9e16528e1c42dfbe9bf50d3b681d28.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd9e16528e1c42dfbe9bf50d3b681d28.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element"> AUTO-U </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-86ef3546e219427bb7c8d374cff60b06.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86ef3546e219427bb7c8d374cff60b06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html" target="element"> VERSA-CLAIM </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6a73f7a516d943a98518840f2f6bd0c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a73f7a516d943a98518840f2f6bd0c3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html" target="element"> P-CONFIG </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-534b6350aa2042cf896ce36215c66e9b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-534b6350aa2042cf896ce36215c66e9b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																				<td> <a href="../elements/id-63500a4b6e0b4ff186e37322c0c90c8b.html" target="element"> Document Management System </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-f93a96c6f99b401889b4228ab9d23944.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f93a96c6f99b401889b4228ab9d23944.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
																						<td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element"> AUTO-U </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-dcf26f99eb8247138d92f7e6b8d72a20.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-dcf26f99eb8247138d92f7e6b8d72a20.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
																						<td> <a href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html" target="element"> VERSA-CLAIM </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-044e40a76b3a490288b38ea710aedfdc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-044e40a76b3a490288b38ea710aedfdc.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html" target="element"> BRIMS </a> </td>
																						<td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-2ef073a2d5bc4ee59bf45c0e607f4116.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2ef073a2d5bc4ee59bf45c0e607f4116.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html" target="element"> BRIMS </a> </td>
																						<td> <a href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html" target="element"> VERSA-CLAIM </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-00cadd8bc78743bba2e49fdc1db12cd5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-00cadd8bc78743bba2e49fdc1db12cd5.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-1c4b9e58d20048ff8efc0cb43364aef9.html" target="element"> BRIMS </a> </td>
																						<td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element"> AUTO-U </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-64a20bb3fca945c7916b1efcff509a60.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-64a20bb3fca945c7916b1efcff509a60.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element"> AUTO-U </a> </td>
																						<td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-e22cf6ad34eb4eee9c6d2f5740f92142.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e22cf6ad34eb4eee9c6d2f5740f92142.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html" target="element"> P-CONFIG </a> </td>
																						<td> <a href="../elements/id-2c1fc56084664a4eab32bb1efdaf13bd.html" target="element"> AUTO-U </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0513e7ea155347d5be2613278f6ee032.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0513e7ea155347d5be2613278f6ee032.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html" target="element"> P-CONFIG </a> </td>
																						<td> <a href="../elements/id-72b308d751bc4514a9bc19187b8b7192.html" target="element"> P-ADMIN </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-04e0ca74bb8548208953b34ce445dbce.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-04e0ca74bb8548208953b34ce445dbce.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-700ece0e23a9459aa400aa17bdb89d65.html" target="element"> P-CONFIG </a> </td>
																						<td> <a href="../elements/id-04c6536ffd3349028e632cd6282fb5a2.html" target="element"> VERSA-CLAIM </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-326b2709e1924249b0fec84b727920cb.html" target="element"> customer profile data </a> </td>
																				<td> <a href="../elements/id-326b2709e1924249b0fec84b727920cb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3bac7dc9a2a4bd0a6ff856c57cde494.html" target="element"> Data Warehousing Solution </a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-928237d070734d6891be8f1506bae989.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-928237d070734d6891be8f1506bae989.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element"> Shared Service Center </a> </td>
																		<td> <a href="../elements/id-63500a4b6e0b4ff186e37322c0c90c8b.html" target="element"> Document Management System </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-95378bc9fb7d4846a81b825b0349aee9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95378bc9fb7d4846a81b825b0349aee9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-63500a4b6e0b4ff186e37322c0c90c8b.html" target="element"> Document Management System </a> </td>
																				<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>