<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Company Structure</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Company Structure</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f7d9655ea1394202a7da458de6145060.png" alt="Company Structure" usemap="#id-f7d9655ea1394202a7da458de6145060map"/>
			   <map name="id-f7d9655ea1394202a7da458de6145060map">
				  				<area shape="rect" coords="177,192,382,265" href="../elements/id-734ace6008e9457f83f123947e84ef10.html"  target="element">
				  				<area shape="rect" coords="177,288,382,361" href="../elements/id-0b8bdf7768964d438869d3a533eae5b8.html"  target="element">
				  				<area shape="rect" coords="177,94,382,167" href="../elements/id-5324633331eb41278f285d4b5a40ec8e.html"  target="element">

				  		<area shape="rect" coords="81,58,481,383" href="../elements/id-1b9f047a82d94f74b2333fdad27c835c.html"  target="element">
				          <area shape="rect" coords="270,406,481,453" href="../objects/id-b72be5195c3640519d2e9977a1758b5b.html" target="element" >
				          <area shape="rect" coords="10,10,551,47" href="../objects/id-ad8a774a77a145c5be75ab59259a085e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/4/16</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ad8a774a77a145c5be75ab59259a085e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ad8a774a77a145c5be75ab59259a085e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b72be5195c3640519d2e9977a1758b5b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b72be5195c3640519d2e9977a1758b5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1b9f047a82d94f74b2333fdad27c835c.html" target="element"> ArchiSurance </a> </td>
											    <td> <a href="../elements/id-1b9f047a82d94f74b2333fdad27c835c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5324633331eb41278f285d4b5a40ec8e.html" target="element"> Home &amp; Away </a> </td>
													    <td> <a href="../elements/id-5324633331eb41278f285d4b5a40ec8e.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b8bdf7768964d438869d3a533eae5b8.html" target="element"> LegallyYours </a> </td>
													    <td> <a href="../elements/id-0b8bdf7768964d438869d3a533eae5b8.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-734ace6008e9457f83f123947e84ef10.html" target="element"> PRO-FIT </a> </td>
													    <td> <a href="../elements/id-734ace6008e9457f83f123947e84ef10.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-34e9a082bedf46f4acdea2f8346edb04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34e9a082bedf46f4acdea2f8346edb04.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b9f047a82d94f74b2333fdad27c835c.html" target="element"> ArchiSurance </a> </td>
																		<td> <a href="../elements/id-5324633331eb41278f285d4b5a40ec8e.html" target="element"> Home &amp; Away </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29b8c682faba4e88b2116ac044afeee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29b8c682faba4e88b2116ac044afeee1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b9f047a82d94f74b2333fdad27c835c.html" target="element"> ArchiSurance </a> </td>
																		<td> <a href="../elements/id-0b8bdf7768964d438869d3a533eae5b8.html" target="element"> LegallyYours </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4528f45e2d84898b74df46a17b71d15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4528f45e2d84898b74df46a17b71d15.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b9f047a82d94f74b2333fdad27c835c.html" target="element"> ArchiSurance </a> </td>
																		<td> <a href="../elements/id-734ace6008e9457f83f123947e84ef10.html" target="element"> PRO-FIT </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>