<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Archimate Layers with Artefacts Mapping & Architect Roles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Archimate Layers with Artefacts Mapping &amp; Architect Roles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4efd9aac11a34b1a851ad3a77434b354.png" alt="Archimate Layers with Artefacts Mapping & Architect Roles" usemap="#id-4efd9aac11a34b1a851ad3a77434b354map"/>
			   <map name="id-4efd9aac11a34b1a851ad3a77434b354map">
				  		<area shape="rect" coords="586,358,706,443" href="../elements/id-7e0c5773b85d4229a9e98689a8ad2839.html"  target="element">
				  		<area shape="rect" coords="322,118,442,479" href="../elements/id-baf72162df964ca3bf30c6335868132d.html"  target="element">
				  		<area shape="rect" coords="454,85,574,167" href="../elements/id-2e86b1953c1a49449fb9fd1b9cf09f3d.html"  target="element">
				  		<area shape="rect" coords="586,262,706,335" href="../elements/id-42a0c16a013a40a5a3d8554a713bc3a6.html"  target="element">
				  		<area shape="rect" coords="718,388,838,467" href="../elements/id-4f1ea06c6d44474da5a382025a4fa64d.html"  target="element">
				  		<area shape="rect" coords="454,190,574,299" href="../elements/id-6776b639774e46a78e8e0ee8c07ccca6.html"  target="element">
				  		<area shape="rect" coords="190,70,310,311" href="../elements/id-af8eecf689044be5899242742caa2fa2.html"  target="element">
				  		<area shape="rect" coords="586,98,706,239" href="../elements/id-a180d53bc6d749d1902cd88c5fef061c.html"  target="element">
				          <area shape="rect" coords="10,430,167,491" href="../objects/id-bab4d7c02a254ed7882d9eebf6856272.html" target="element" >
				          <area shape="rect" coords="10,70,167,131" href="../objects/id-576473c38f6a4d50b2a9dae3871ce11d.html" target="element" >
				          <area shape="rect" coords="10,358,167,419" href="../objects/id-c47303f3bbcd436c86c88c5e0a71a819.html" target="element" >
				          <area shape="rect" coords="10,286,167,347" href="../objects/id-e2a716724e5e4ebd8f5e2e723ae56477.html" target="element" >
				          <area shape="rect" coords="10,214,167,275" href="../objects/id-2614084b0cb542a1ad369d0ad8060c3a.html" target="element" >
				          <area shape="rect" coords="10,142,167,203" href="../objects/id-8ec1d7b6943a46f9b4f1ad7b2163a85e.html" target="element" >
				          <area shape="rect" coords="10,514,221,561" href="../objects/id-3abf9cf82c0640dd975fcc76b81f6951.html" target="element" >
				          <area shape="rect" coords="118,10,659,47" href="../objects/id-d5cc894e0c204c49a35cf7c72c61d22e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/15</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d5cc894e0c204c49a35cf7c72c61d22e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d5cc894e0c204c49a35cf7c72c61d22e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3abf9cf82c0640dd975fcc76b81f6951.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3abf9cf82c0640dd975fcc76b81f6951.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8ec1d7b6943a46f9b4f1ad7b2163a85e.html" target="element"> Strategy </a> </td>
									           <td> <a href="../objects/id-8ec1d7b6943a46f9b4f1ad7b2163a85e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2614084b0cb542a1ad369d0ad8060c3a.html" target="element"> Business </a> </td>
									           <td> <a href="../objects/id-2614084b0cb542a1ad369d0ad8060c3a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e2a716724e5e4ebd8f5e2e723ae56477.html" target="element"> Application </a> </td>
									           <td> <a href="../objects/id-e2a716724e5e4ebd8f5e2e723ae56477.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c47303f3bbcd436c86c88c5e0a71a819.html" target="element"> Technology &amp; Physical </a> </td>
									           <td> <a href="../objects/id-c47303f3bbcd436c86c88c5e0a71a819.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-576473c38f6a4d50b2a9dae3871ce11d.html" target="element"> Motivation </a> </td>
									           <td> <a href="../objects/id-576473c38f6a4d50b2a9dae3871ce11d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bab4d7c02a254ed7882d9eebf6856272.html" target="element"> Implementation &amp; Migration </a> </td>
									           <td> <a href="../objects/id-bab4d7c02a254ed7882d9eebf6856272.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a180d53bc6d749d1902cd88c5fef061c.html" target="element"> Business Architect </a> </td>
											    <td> <a href="../elements/id-a180d53bc6d749d1902cd88c5fef061c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af8eecf689044be5899242742caa2fa2.html" target="element"> Enterprise Architect </a> </td>
											    <td> <a href="../elements/id-af8eecf689044be5899242742caa2fa2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6776b639774e46a78e8e0ee8c07ccca6.html" target="element"> Information Architect </a> </td>
											    <td> <a href="../elements/id-6776b639774e46a78e8e0ee8c07ccca6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f1ea06c6d44474da5a382025a4fa64d.html" target="element"> Infrastructure Architect </a> </td>
											    <td> <a href="../elements/id-4f1ea06c6d44474da5a382025a4fa64d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42a0c16a013a40a5a3d8554a713bc3a6.html" target="element"> Integration Architect </a> </td>
											    <td> <a href="../elements/id-42a0c16a013a40a5a3d8554a713bc3a6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e86b1953c1a49449fb9fd1b9cf09f3d.html" target="element"> Management Consultant </a> </td>
											    <td> <a href="../elements/id-2e86b1953c1a49449fb9fd1b9cf09f3d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-baf72162df964ca3bf30c6335868132d.html" target="element"> Solution Architect </a> </td>
											    <td> <a href="../elements/id-baf72162df964ca3bf30c6335868132d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e0c5773b85d4229a9e98689a8ad2839.html" target="element"> Technology Architect </a> </td>
											    <td> <a href="../elements/id-7e0c5773b85d4229a9e98689a8ad2839.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>