<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOGAF ADM Phase B - Modeling Pattern</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOGAF ADM Phase B - Modeling Pattern</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8a3e830a27c440aa85c84570b60c2a09.png" alt="TOGAF ADM Phase B - Modeling Pattern" usemap="#id-8a3e830a27c440aa85c84570b60c2a09map"/>
			   <map name="id-8a3e830a27c440aa85c84570b60c2a09map">
				  		<area shape="rect" coords="10,430,130,485" href="../elements/id-8788025a82684f8eab17750716d0a25a.html"  target="element">
				  		<area shape="rect" coords="262,430,431,485" href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html"  target="element">
				  		<area shape="rect" coords="646,730,766,785" href="../elements/id-f927525e08e04f429110173f8d6e5208.html"  target="element">
				  		<area shape="rect" coords="933,730,1053,785" href="../elements/id-6bf5cb2d7abe4fdda2f76b0cf52eb84a.html"  target="element">
				  		<area shape="rect" coords="994,610,1114,665" href="../elements/id-564ec3d954754428a8b0c918767bd544.html"  target="element">
				  		<area shape="rect" coords="730,610,850,665" href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html"  target="element">
				  		<area shape="rect" coords="407,610,527,665" href="../elements/id-a512886e71b74f5a84e6194b76a31089.html"  target="element">
				  		<area shape="rect" coords="154,610,274,665" href="../elements/id-a512886e71b74f5a84e6194b76a31089.html"  target="element">
				  		<area shape="rect" coords="814,472,934,527" href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html"  target="element">
				  		<area shape="rect" coords="562,472,682,527" href="../elements/id-360cb16cc5184170ba85f493ae5a991e.html"  target="element">
				  		<area shape="rect" coords="526,107,646,162" href="../elements/id-929731edfed043e1a25ae487506433d4.html"  target="element">
				  		<area shape="rect" coords="695,58,815,113" href="../elements/id-c94d5fd99bed4ba9844fa10da529afb5.html"  target="element">
				  		<area shape="rect" coords="1042,394,1162,449" href="../elements/id-25330cd4ae2d457f83048dfbb02a97ff.html"  target="element">
				  		<area shape="rect" coords="666,394,786,449" href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html"  target="element">
				  		<area shape="rect" coords="814,248,934,303" href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html"  target="element">
				  		<area shape="rect" coords="454,248,574,303" href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html"  target="element">
				  		<area shape="rect" coords="82,202,202,257" href="../elements/id-77bbacd169a14a04ba7f8f8108a0f803.html"  target="element">
				  		<area shape="rect" coords="230,94,350,149" href="../elements/id-156d09ec071d437abe7f2efa84e612af.html"  target="element">
				          <area shape="rect" coords="241,734,452,781" href="../objects/id-35720d429a6c47d9b1b0c6c3a096b9b8.html" target="element" >
				          <area shape="rect" coords="221,10,762,47" href="../objects/id-71719cd881e147d792b031a9d3a57401.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/14</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-71719cd881e147d792b031a9d3a57401.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-71719cd881e147d792b031a9d3a57401.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-35720d429a6c47d9b1b0c6c3a096b9b8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-35720d429a6c47d9b1b0c6c3a096b9b8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element"> Business Actor </a> </td>
											    <td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77bbacd169a14a04ba7f8f8108a0f803.html" target="element"> Location </a> </td>
											    <td> <a href="../elements/id-77bbacd169a14a04ba7f8f8108a0f803.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
											    <td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
											    <td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html" target="element"> Outcome </a> </td>
											    <td> <a href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-25330cd4ae2d457f83048dfbb02a97ff.html" target="element"> Stakeholder </a> </td>
											    <td> <a href="../elements/id-25330cd4ae2d457f83048dfbb02a97ff.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c94d5fd99bed4ba9844fa10da529afb5.html" target="element"> Value </a> </td>
											    <td> <a href="../elements/id-c94d5fd99bed4ba9844fa10da529afb5.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-929731edfed043e1a25ae487506433d4.html" target="element"> Business Function </a> </td>
											    <td> <a href="../elements/id-929731edfed043e1a25ae487506433d4.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-360cb16cc5184170ba85f493ae5a991e.html" target="element"> Business Event </a> </td>
											    <td> <a href="../elements/id-360cb16cc5184170ba85f493ae5a991e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
											    <td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html" target="element"> Application Service </a> </td>
											    <td> <a href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
											    <td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bf5cb2d7abe4fdda2f76b0cf52eb84a.html" target="element"> Artifact </a> </td>
											    <td> <a href="../elements/id-6bf5cb2d7abe4fdda2f76b0cf52eb84a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f927525e08e04f429110173f8d6e5208.html" target="element"> Device </a> </td>
											    <td> <a href="../elements/id-f927525e08e04f429110173f8d6e5208.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
											    <td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8788025a82684f8eab17750716d0a25a.html" target="element"> Equipment </a> </td>
											    <td> <a href="../elements/id-8788025a82684f8eab17750716d0a25a.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-e7920de8b0b6491496de781fbed66a84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7920de8b0b6491496de781fbed66a84.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element"> Business Actor </a> </td>
																		<td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element"> Business Actor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-611a0dce16594352961086d9a157d9b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-611a0dce16594352961086d9a157d9b0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element"> Business Actor </a> </td>
																		<td> <a href="../elements/id-929731edfed043e1a25ae487506433d4.html" target="element"> Business Function </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8b1a7770d0046efb723419a2ab6acb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8b1a7770d0046efb723419a2ab6acb5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element"> Business Actor </a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b34d028c6e084ea495b82c903dd463e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b34d028c6e084ea495b82c903dd463e8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77bbacd169a14a04ba7f8f8108a0f803.html" target="element"> Location </a> </td>
																		<td> <a href="../elements/id-156d09ec071d437abe7f2efa84e612af.html" target="element"> Business Actor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d555b8aff6dd47fb96cf45f08aef73ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d555b8aff6dd47fb96cf45f08aef73ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
																		<td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91b67702e1bb49e4978007fd13776e2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91b67702e1bb49e4978007fd13776e2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
																		<td> <a href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html" target="element"> Outcome </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-110e2ef4e0a24c4280181c3f38595d71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-110e2ef4e0a24c4280181c3f38595d71.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-98b13ca33b8c4ab3b8b25046ed9f551e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98b13ca33b8c4ab3b8b25046ed9f551e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a88fe85ac86648b384a7f8897b64da3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a88fe85ac86648b384a7f8897b64da3c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2573b17104344981a19886a4c03a6cb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2573b17104344981a19886a4c03a6cb2.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																		<td> <a href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html" target="element"> Outcome </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f12ce09875cc4e8c9da4594fc697d7bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f12ce09875cc4e8c9da4594fc697d7bb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25330cd4ae2d457f83048dfbb02a97ff.html" target="element"> Stakeholder </a> </td>
																		<td> <a href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html" target="element"> Outcome </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-029110c902af418d983c42ff1d5337b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-029110c902af418d983c42ff1d5337b3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c94d5fd99bed4ba9844fa10da529afb5.html" target="element"> Value </a> </td>
																		<td> <a href="../elements/id-a88fe85ac86648b384a7f8897b64da3c.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-084e38cf9abb42dbb9d4443125f0223b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-084e38cf9abb42dbb9d4443125f0223b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c94d5fd99bed4ba9844fa10da529afb5.html" target="element"> Value </a> </td>
																		<td> <a href="../elements/id-2573b17104344981a19886a4c03a6cb2.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd557dfbb811493fb35f4a6fe5bc766b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd557dfbb811493fb35f4a6fe5bc766b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-929731edfed043e1a25ae487506433d4.html" target="element"> Business Function </a> </td>
																		<td> <a href="../elements/id-929731edfed043e1a25ae487506433d4.html" target="element"> Business Function </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a29ca908b2f94e25bbc11b8a81a1db97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a29ca908b2f94e25bbc11b8a81a1db97.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-929731edfed043e1a25ae487506433d4.html" target="element"> Business Function </a> </td>
																		<td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4fde2bee472e4990808860ebc1e208bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fde2bee472e4990808860ebc1e208bd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-360cb16cc5184170ba85f493ae5a991e.html" target="element"> Business Event </a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0252f6e1b014832a42490228b99a3e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0252f6e1b014832a42490228b99a3e6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																		<td> <a href="../elements/id-360cb16cc5184170ba85f493ae5a991e.html" target="element"> Business Event </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d2b6ff16f4b4de8881a614ed6fe23f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d2b6ff16f4b4de8881a614ed6fe23f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fe6618cc89f4d58919306ffa4089b76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fe6618cc89f4d58919306ffa4089b76.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																		<td> <a href="../elements/id-6ad73bc80be8422aa1f0d8c6c1462fdb.html" target="element"> Value Stream </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8172f84b17b746a78a9adef1f8723b84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8172f84b17b746a78a9adef1f8723b84.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9931d5e2922c4d67acb93ddad55ed60a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9931d5e2922c4d67acb93ddad55ed60a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9931d5e2922c4d67acb93ddad55ed60a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9931d5e2922c4d67acb93ddad55ed60a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-73502cc2bf504860bf3e98eac645596a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73502cc2bf504860bf3e98eac645596a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7d9bb96bb724244ab1b492ade9b496e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7d9bb96bb724244ab1b492ade9b496e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-a2a8cee43263434cbe24232c9e259fa2.html" target="element"> Business Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5206510bda74108a084a07e09d138db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5206510bda74108a084a07e09d138db.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61e5ae68dc8648849dd046a724d06198.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61e5ae68dc8648849dd046a724d06198.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
																		<td> <a href="../elements/id-f803b72c8f68481aad841f3dd1ef3cf5.html" target="element"> Application Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34469b1fe8a740c9960fd5511ba83bd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34469b1fe8a740c9960fd5511ba83bd3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c982662de65642a68696f7e6a149a325.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c982662de65642a68696f7e6a149a325.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf5cb2d7abe4fdda2f76b0cf52eb84a.html" target="element"> Artifact </a> </td>
																		<td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8c203f3b1d024866a6000006a4705497.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c203f3b1d024866a6000006a4705497.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f927525e08e04f429110173f8d6e5208.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-6bf5cb2d7abe4fdda2f76b0cf52eb84a.html" target="element"> Artifact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0d17509153f46fc929188583f3f2af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0d17509153f46fc929188583f3f2af8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																		<td> <a href="../elements/id-f16c13fe78e64786b4bf87bb187419c1.html" target="element"> Outcome </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d164cb24a8b54f319ac41905947fd3e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d164cb24a8b54f319ac41905947fd3e5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d164cb24a8b54f319ac41905947fd3e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d164cb24a8b54f319ac41905947fd3e5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																		<td> <a href="../elements/id-a512886e71b74f5a84e6194b76a31089.html" target="element"> Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a975e4bc1134460aa9156304e89a2cce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a975e4bc1134460aa9156304e89a2cce.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																		<td> <a href="../elements/id-3d8d946734224cbab33cc88b61ac3a71.html" target="element"> Capability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5fdc1afcbf3e411d9e915c59b3e4b142.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fdc1afcbf3e411d9e915c59b3e4b142.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8788025a82684f8eab17750716d0a25a.html" target="element"> Equipment </a> </td>
																		<td> <a href="../elements/id-7b3d8e38366e452ca35490ae5a84f609.html" target="element"> Resource </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>