<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOGAF ADM Phase C - Modeling Pattern (Data Architecture)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOGAF ADM Phase C - Modeling Pattern (Data Architecture)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e45f61fd7fd74d4db85ae4dac907aab2.png" alt="TOGAF ADM Phase C - Modeling Pattern (Data Architecture)" usemap="#id-e45f61fd7fd74d4db85ae4dac907aab2map"/>
			   <map name="id-e45f61fd7fd74d4db85ae4dac907aab2map">
				  		<area shape="rect" coords="526,221,646,276" href="../elements/id-564ec3d954754428a8b0c918767bd544.html"  target="element">
				  		<area shape="rect" coords="262,221,382,276" href="../elements/id-84ec877c190b4dba82b38ebff71502d9.html"  target="element">
				  		<area shape="rect" coords="10,221,130,276" href="../elements/id-e89089d5dfcd43dc9a8835efbdf0e164.html"  target="element">
				  		<area shape="rect" coords="10,58,345,113" href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html"  target="element">
				          <area shape="rect" coords="381,317,592,364" href="../objects/id-d2a3b343a7dc4c0ab10778b7cbda8891.html" target="element" >
				          <area shape="rect" coords="32,10,711,47" href="../objects/id-ee35d7d62b4241c282f171cc431b2645.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/15</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ee35d7d62b4241c282f171cc431b2645.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ee35d7d62b4241c282f171cc431b2645.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d2a3b343a7dc4c0ab10778b7cbda8891.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d2a3b343a7dc4c0ab10778b7cbda8891.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
											    <td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e89089d5dfcd43dc9a8835efbdf0e164.html" target="element"> Data Object </a> </td>
											    <td> <a href="../elements/id-e89089d5dfcd43dc9a8835efbdf0e164.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84ec877c190b4dba82b38ebff71502d9.html" target="element"> Application Function </a> </td>
											    <td> <a href="../elements/id-84ec877c190b4dba82b38ebff71502d9.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
											    <td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-ed2e1ddcf9ac4a51831853b0486deef7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed2e1ddcf9ac4a51831853b0486deef7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fcb30479b3954e89980c8bb2a0f50ba9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcb30479b3954e89980c8bb2a0f50ba9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-58d09501b7ef4864a9f22b46d799b1af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58d09501b7ef4864a9f22b46d799b1af.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c84404548b004dfab1f02d648a51be7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c84404548b004dfab1f02d648a51be7f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e89089d5dfcd43dc9a8835efbdf0e164.html" target="element"> Data Object </a> </td>
																		<td> <a href="../elements/id-2483c513cf8a4051b87fca9a285763ee.html" target="element"> Business Object </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7a38ac255fb4b37b58d4236556e03e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7a38ac255fb4b37b58d4236556e03e3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84ec877c190b4dba82b38ebff71502d9.html" target="element"> Application Function </a> </td>
																		<td> <a href="../elements/id-e89089d5dfcd43dc9a8835efbdf0e164.html" target="element"> Data Object </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f355146b6c1843acb6f24c810c510643.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f355146b6c1843acb6f24c810c510643.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-564ec3d954754428a8b0c918767bd544.html" target="element"> Application Component </a> </td>
																		<td> <a href="../elements/id-84ec877c190b4dba82b38ebff71502d9.html" target="element"> Application Function </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>