<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07 Strategy View - Long Term</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07 Strategy View - Long Term</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2225b06e9a0d477c96b843cdbc19d4b5.png" alt="07 Strategy View - Long Term" usemap="#id-2225b06e9a0d477c96b843cdbc19d4b5map"/>
			   <map name="id-2225b06e9a0d477c96b843cdbc19d4b5map">
				  		<area shape="rect" coords="640,37,760,92" href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="34,550,154,605" href="../elements/id-6d877593be9843499ede290502331cfc.html"  target="element">
				  		<area shape="rect" coords="406,550,526,605" href="../elements/id-cb973b71b23e4e72b02cb8c8b519c5f8.html"  target="element">
				  		<area shape="rect" coords="208,442,353,497" href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html"  target="element">
				  		<area shape="rect" coords="406,442,526,497" href="../elements/id-0423312257334874890e922d9518907c.html"  target="element">
				  		<area shape="rect" coords="406,346,526,401" href="../elements/id-b4bdcbd643ab4e498c6bf77e28cd3734.html"  target="element">
				  		<area shape="rect" coords="22,442,167,497" href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html"  target="element">
				  		<area shape="rect" coords="34,343,154,398" href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html"  target="element">
				  		<area shape="rect" coords="34,237,154,292" href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html"  target="element">
				  		<area shape="rect" coords="406,237,526,292" href="../elements/id-2644afb2957b421ba319d54fe8b9ec2b.html"  target="element">
				  		<area shape="rect" coords="221,237,341,292" href="../elements/id-b654149e8b4b49efa79f073473dfc305.html"  target="element">
				  		<area shape="rect" coords="406,142,526,197" href="../elements/id-591f81fc78f44d62a14737921a9487e6.html"  target="element">
				  		<area shape="rect" coords="34,142,154,197" href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html"  target="element">
				  		<area shape="rect" coords="221,142,341,197" href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html"  target="element">
				  		<area shape="rect" coords="221,58,341,113" href="../elements/id-5d4942e3f01a4daba7eb5b35c4953644.html"  target="element">
				          <area shape="rect" coords="394,634,605,681" href="../objects/id-9563bd0451b84e1fafa2e1941d1dbe44.html" target="element" >
				          <area shape="rect" coords="10,10,551,47" href="../objects/id-f431115f786a44a5bda8d4a7f3bb778d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/4/12</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f431115f786a44a5bda8d4a7f3bb778d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f431115f786a44a5bda8d4a7f3bb778d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9563bd0451b84e1fafa2e1941d1dbe44.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9563bd0451b84e1fafa2e1941d1dbe44.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-5d4942e3f01a4daba7eb5b35c4953644.html" target="element"> Board </a> </td>
											    <td> <a href="../elements/id-5d4942e3f01a4daba7eb5b35c4953644.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
											    <td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html" target="element"> Customers defecting to competitors with superior digital experiences </a> </td>
											    <td> <a href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-591f81fc78f44d62a14737921a9487e6.html" target="element"> Customer defecting to competitors with lower Insurance Premiums </a> </td>
											    <td> <a href="../elements/id-591f81fc78f44d62a14737921a9487e6.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
											    <td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2644afb2957b421ba319d54fe8b9ec2b.html" target="element"> Increase in Market Share </a> </td>
											    <td> <a href="../elements/id-2644afb2957b421ba319d54fe8b9ec2b.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element"> Higher Customer Retention </a> </td>
											    <td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element"> Improved Customer Satisfaction </a> </td>
											    <td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
											    <td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b4bdcbd643ab4e498c6bf77e28cd3734.html" target="element"> Competitive Premium Setting </a> </td>
											    <td> <a href="../elements/id-b4bdcbd643ab4e498c6bf77e28cd3734.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0423312257334874890e922d9518907c.html" target="element"> Detailed Insight in Customer Behavior </a> </td>
											    <td> <a href="../elements/id-0423312257334874890e922d9518907c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html" target="element"> Digital Customer Intimacy Strategy </a> </td>
											    <td> <a href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb973b71b23e4e72b02cb8c8b519c5f8.html" target="element"> Data-Driven Insurance </a> </td>
											    <td> <a href="../elements/id-cb973b71b23e4e72b02cb8c8b519c5f8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d877593be9843499ede290502331cfc.html" target="element"> Digital Customer Management </a> </td>
											    <td> <a href="../elements/id-6d877593be9843499ede290502331cfc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html" target="view"> Phase_A Vision Views </a> </td>
											    <td> <a href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-c4b1a54a5898415aa1b1fc5e5de82144.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4b1a54a5898415aa1b1fc5e5de82144.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																		<td> <a href="../elements/id-5d4942e3f01a4daba7eb5b35c4953644.html" target="element"> Board </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9dd5fb1305e4fa0a3a8fa42f53016c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9dd5fb1305e4fa0a3a8fa42f53016c5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																		<td> <a href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html" target="element"> Customers defecting to competitors with superior digital experiences </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b6cb6f96e6c4ae48c81741fccb3f968.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b6cb6f96e6c4ae48c81741fccb3f968.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-591f81fc78f44d62a14737921a9487e6.html" target="element"> Customer defecting to competitors with lower Insurance Premiums </a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-85656ed62c5140f88e5a25fe2e277455.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85656ed62c5140f88e5a25fe2e277455.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-889768b5000e40b4abeff6fff2fa2bc6.html" target="element"> + </a> </td>
																		<td> <a href="../elements/id-889768b5000e40b4abeff6fff2fa2bc6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2644afb2957b421ba319d54fe8b9ec2b.html" target="element"> Increase in Market Share </a> </td>
																		<td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-80c42f8080a94597b2e495c19db6c931.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80c42f8080a94597b2e495c19db6c931.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element"> Higher Customer Retention </a> </td>
																		<td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f8832d6db914c729656b7b63259ffdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f8832d6db914c729656b7b63259ffdf.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element"> Improved Customer Satisfaction </a> </td>
																		<td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element"> Higher Customer Retention </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e582d111d424eebaf92fda818c7323b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e582d111d424eebaf92fda818c7323b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
																		<td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element"> Improved Customer Satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-74b303f16fd641609034a0b328613635.html" target="element"> + </a> </td>
																		<td> <a href="../elements/id-74b303f16fd641609034a0b328613635.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4bdcbd643ab4e498c6bf77e28cd3734.html" target="element"> Competitive Premium Setting </a> </td>
																		<td> <a href="../elements/id-2644afb2957b421ba319d54fe8b9ec2b.html" target="element"> Increase in Market Share </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-181993ba3ed34f8087ea2976ac768297.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-181993ba3ed34f8087ea2976ac768297.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0423312257334874890e922d9518907c.html" target="element"> Detailed Insight in Customer Behavior </a> </td>
																		<td> <a href="../elements/id-b4bdcbd643ab4e498c6bf77e28cd3734.html" target="element"> Competitive Premium Setting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-379cf44ffc4440d9ae82340bae208fd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-379cf44ffc4440d9ae82340bae208fd2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html" target="element"> Digital Customer Intimacy Strategy </a> </td>
																		<td> <a href="../elements/id-0423312257334874890e922d9518907c.html" target="element"> Detailed Insight in Customer Behavior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98b0f5cb0e2e4809b2beb118ece35a63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98b0f5cb0e2e4809b2beb118ece35a63.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html" target="element"> Digital Customer Intimacy Strategy </a> </td>
																		<td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c037af5b356415cb56cc6efaf5de914.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c037af5b356415cb56cc6efaf5de914.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb973b71b23e4e72b02cb8c8b519c5f8.html" target="element"> Data-Driven Insurance </a> </td>
																		<td> <a href="../elements/id-0423312257334874890e922d9518907c.html" target="element"> Detailed Insight in Customer Behavior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55607a1c895c484f88c511015dc30cb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55607a1c895c484f88c511015dc30cb8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb973b71b23e4e72b02cb8c8b519c5f8.html" target="element"> Data-Driven Insurance </a> </td>
																		<td> <a href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html" target="element"> Digital Customer Intimacy Strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-babf59e71ed743e8966b0dde36afc61a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-babf59e71ed743e8966b0dde36afc61a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d877593be9843499ede290502331cfc.html" target="element"> Digital Customer Management </a> </td>
																		<td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5094fe567e25462ba0f121236254b787.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5094fe567e25462ba0f121236254b787.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d877593be9843499ede290502331cfc.html" target="element"> Digital Customer Management </a> </td>
																		<td> <a href="../elements/id-dd7c6a22e1a445fc9fc6ece93f9cfd91.html" target="element"> Digital Customer Intimacy Strategy </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>