<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04 Business Goals Associated with the Driver Profitability (v3.1）</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04 Business Goals Associated with the Driver Profitability (v3.1&#65289;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-466703bc6d0e42c09037bb53a6f905a0.png" alt="04 Business Goals Associated with the Driver Profitability (v3.1）" usemap="#id-466703bc6d0e42c09037bb53a6f905a0map"/>
			   <map name="id-466703bc6d0e42c09037bb53a6f905a0map">
				  		<area shape="rect" coords="816,13,936,68" href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="595,453,715,508" href="../elements/id-cc5c4a6120ff42559fb867179bd3e5bf.html"  target="element">
				  		<area shape="rect" coords="308,550,477,605" href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html"  target="element">
				  		<area shape="rect" coords="213,453,358,508" href="../elements/id-5da9126e20754db7b0cb514bf9c76c6a.html"  target="element">
				  		<area shape="rect" coords="781,358,901,413" href="../elements/id-fc72964ae4d44e449345fb781516fb13.html"  target="element">
				  		<area shape="rect" coords="769,453,889,508" href="../elements/id-b7b12713b0a3499188b3302a570392a0.html"  target="element">
				  		<area shape="rect" coords="409,453,529,508" href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html"  target="element">
				  		<area shape="rect" coords="409,358,529,413" href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html"  target="element">
				  		<area shape="rect" coords="10,262,130,317" href="../elements/id-ae55f73b5e0f427e8ff2c4227ca776c8.html"  target="element">
				  		<area shape="rect" coords="345,166,489,221" href="../elements/id-908686ae670943c596a3943039aa13a7.html"  target="element">
				  		<area shape="rect" coords="553,73,727,146" href="../elements/id-591f81fc78f44d62a14737921a9487e6.html"  target="element">
				  		<area shape="rect" coords="238,358,358,413" href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html"  target="element">
				  		<area shape="rect" coords="94,358,214,413" href="../elements/id-d44662d3984845868394da79007de9ab.html"  target="element">
				  		<area shape="rect" coords="580,358,713,413" href="../elements/id-778881bc719f43418689c8f1c138d05e.html"  target="element">
				  		<area shape="rect" coords="190,262,310,317" href="../elements/id-8377434cd99543ae9b905acf518b38f9.html"  target="element">
				  		<area shape="rect" coords="488,262,608,317" href="../elements/id-b654149e8b4b49efa79f073473dfc305.html"  target="element">
				  		<area shape="rect" coords="110,73,284,146" href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html"  target="element">
				  		<area shape="rect" coords="357,82,477,137" href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html"  target="element">
				          <area shape="rect" coords="661,610,872,657" href="../objects/id-dc313ae7c0544e6299eb14c60d06013c.html" target="element" >
				          <area shape="rect" coords="169,10,710,47" href="../objects/id-2aed6b62e3e54c2c80a813384d33295a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/4/5</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-2aed6b62e3e54c2c80a813384d33295a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2aed6b62e3e54c2c80a813384d33295a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-dc313ae7c0544e6299eb14c60d06013c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dc313ae7c0544e6299eb14c60d06013c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
											    <td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html" target="element"> Customers defecting to competitors with superior digital experiences </a> </td>
											    <td> <a href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
											    <td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
											    <td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-778881bc719f43418689c8f1c138d05e.html" target="element"> Imporevement in cross-selling success </a> </td>
											    <td> <a href="../elements/id-778881bc719f43418689c8f1c138d05e.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
											    <td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element"> Reduction of personnel costs </a> </td>
											    <td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-591f81fc78f44d62a14737921a9487e6.html" target="element"> Customer defecting to competitors with lower Insurance Premiums </a> </td>
											    <td> <a href="../elements/id-591f81fc78f44d62a14737921a9487e6.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-908686ae670943c596a3943039aa13a7.html" target="element"> Profit Margin of &gt;5% in Next Fiscal Year </a> </td>
											    <td> <a href="../elements/id-908686ae670943c596a3943039aa13a7.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae55f73b5e0f427e8ff2c4227ca776c8.html" target="element"> Inefficiencies in Internal Operations </a> </td>
											    <td> <a href="../elements/id-ae55f73b5e0f427e8ff2c4227ca776c8.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element"> Higher Customer Retention </a> </td>
											    <td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element"> Improved Customer Satisfaction </a> </td>
											    <td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7b12713b0a3499188b3302a570392a0.html" target="element"> Broad Product Coverage </a> </td>
											    <td> <a href="../elements/id-b7b12713b0a3499188b3302a570392a0.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc72964ae4d44e449345fb781516fb13.html" target="element"> Strong Brand Position </a> </td>
											    <td> <a href="../elements/id-fc72964ae4d44e449345fb781516fb13.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5da9126e20754db7b0cb514bf9c76c6a.html" target="element"> 90% of Customer Interaction Online </a> </td>
											    <td> <a href="../elements/id-5da9126e20754db7b0cb514bf9c76c6a.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
											    <td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc5c4a6120ff42559fb867179bd3e5bf.html" target="element"> Attractive Insurance Offering </a> </td>
											    <td> <a href="../elements/id-cc5c4a6120ff42559fb867179bd3e5bf.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html" target="view"> Phase_A Vision Views </a> </td>
											    <td> <a href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-c9dd5fb1305e4fa0a3a8fa42f53016c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9dd5fb1305e4fa0a3a8fa42f53016c5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																		<td> <a href="../elements/id-6faf1b7ff774435584aefa2727f5ba20.html" target="element"> Customers defecting to competitors with superior digital experiences </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-19523c7d489b47809c3c577d77b68fef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19523c7d489b47809c3c577d77b68fef.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
																		<td> <a href="../elements/id-908686ae670943c596a3943039aa13a7.html" target="element"> Profit Margin of &gt;5% in Next Fiscal Year </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc1d8ca5b60248969d1869077269e030.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc1d8ca5b60248969d1869077269e030.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
																		<td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element"> Reduction of personnel costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf0311a88c8644f591fad4a9339dab97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf0311a88c8644f591fad4a9339dab97.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
																		<td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7742008deecd45df9132867fc84fca90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7742008deecd45df9132867fc84fca90.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
																		<td> <a href="../elements/id-908686ae670943c596a3943039aa13a7.html" target="element"> Profit Margin of &gt;5% in Next Fiscal Year </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e02f19244a34f6c84ae34e495b7a576.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e02f19244a34f6c84ae34e495b7a576.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-778881bc719f43418689c8f1c138d05e.html" target="element"> Imporevement in cross-selling success </a> </td>
																		<td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b6cb6f96e6c4ae48c81741fccb3f968.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b6cb6f96e6c4ae48c81741fccb3f968.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-591f81fc78f44d62a14737921a9487e6.html" target="element"> Customer defecting to competitors with lower Insurance Premiums </a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a85b477a97a14b2a8b0a6389e4ccf90d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a85b477a97a14b2a8b0a6389e4ccf90d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-908686ae670943c596a3943039aa13a7.html" target="element"> Profit Margin of &gt;5% in Next Fiscal Year </a> </td>
																		<td> <a href="../elements/id-97f6696d18a341ee913df7a97a9f4bd0.html" target="element"> Profitability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2dc5b0fbd87748e08c87ea8a025a63cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dc5b0fbd87748e08c87ea8a025a63cd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae55f73b5e0f427e8ff2c4227ca776c8.html" target="element"> Inefficiencies in Internal Operations </a> </td>
																		<td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-80c42f8080a94597b2e495c19db6c931.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80c42f8080a94597b2e495c19db6c931.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element"> Higher Customer Retention </a> </td>
																		<td> <a href="../elements/id-b654149e8b4b49efa79f073473dfc305.html" target="element"> Increase in revenue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f8832d6db914c729656b7b63259ffdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f8832d6db914c729656b7b63259ffdf.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element"> Improved Customer Satisfaction </a> </td>
																		<td> <a href="../elements/id-54cd19fbc67441de8c0e46a5d583fd86.html" target="element"> Higher Customer Retention </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-089d669e2ccb46dd8a2565b44d515231.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-089d669e2ccb46dd8a2565b44d515231.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7b12713b0a3499188b3302a570392a0.html" target="element"> Broad Product Coverage </a> </td>
																		<td> <a href="../elements/id-cc5c4a6120ff42559fb867179bd3e5bf.html" target="element"> Attractive Insurance Offering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-62e6dbd3876d4ecdb7c709b220580e67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62e6dbd3876d4ecdb7c709b220580e67.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc72964ae4d44e449345fb781516fb13.html" target="element"> Strong Brand Position </a> </td>
																		<td> <a href="../elements/id-778881bc719f43418689c8f1c138d05e.html" target="element"> Imporevement in cross-selling success </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81d5a4bb18844bb785f7f5476ee96888.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81d5a4bb18844bb785f7f5476ee96888.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da9126e20754db7b0cb514bf9c76c6a.html" target="element"> 90% of Customer Interaction Online </a> </td>
																		<td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element"> Reduction of personnel costs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e582d111d424eebaf92fda818c7323b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e582d111d424eebaf92fda818c7323b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
																		<td> <a href="../elements/id-017f0a4a56654f818d9462ab6355e9b4.html" target="element"> Improved Customer Satisfaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94fa7b8d2dad41a8a1b883a3e9a38aca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94fa7b8d2dad41a8a1b883a3e9a38aca.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6af1b3e80d4d487aaf97a6e34c830481.html" target="element"> Best-in-Class Online Customer Experience </a> </td>
																		<td> <a href="../elements/id-5da9126e20754db7b0cb514bf9c76c6a.html" target="element"> 90% of Customer Interaction Online </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-713612f0750f4c01931fb5d44215fe09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-713612f0750f4c01931fb5d44215fe09.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc5c4a6120ff42559fb867179bd3e5bf.html" target="element"> Attractive Insurance Offering </a> </td>
																		<td> <a href="../elements/id-778881bc719f43418689c8f1c138d05e.html" target="element"> Imporevement in cross-selling success </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>