<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06 Goal Refinement</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06 Goal Refinement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-70b8113c4d76419b8fa8a6658f8d236f.png" alt="06 Goal Refinement" usemap="#id-70b8113c4d76419b8fa8a6658f8d236fmap"/>
			   <map name="id-70b8113c4d76419b8fa8a6658f8d236fmap">
				  		<area shape="rect" coords="802,16,922,71" href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="664,502,784,557" href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html"  target="element">
				  		<area shape="rect" coords="514,502,634,557" href="../elements/id-bbd0385f84594601823b9f1006bfd621.html"  target="element">
				  		<area shape="rect" coords="563,395,719,450" href="../elements/id-c7429e7256dd45779e04094470dac4b8.html"  target="element">
				  		<area shape="rect" coords="358,395,527,450" href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html"  target="element">
				  		<area shape="rect" coords="563,297,683,352" href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html"  target="element">
				  		<area shape="rect" coords="383,297,503,352" href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html"  target="element">
				  		<area shape="rect" coords="286,178,406,233" href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html"  target="element">
				  		<area shape="rect" coords="538,70,658,125" href="../elements/id-8377434cd99543ae9b905acf518b38f9.html"  target="element">
				  		<area shape="rect" coords="644,178,764,233" href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html"  target="element">
				  		<area shape="rect" coords="466,178,586,233" href="../elements/id-d44662d3984845868394da79007de9ab.html"  target="element">
				  				<area shape="rect" coords="34,147,227,202" href="../elements/id-3900418ebd814278b3549247a8d97dc9.html"  target="element">
				  				<area shape="rect" coords="34,51,227,106" href="../elements/id-a7090021812643ce82728f546c8c506b.html"  target="element">
				  				<area shape="rect" coords="34,351,227,406" href="../elements/id-f1e488b633be4cdc9f1b181de21d48d1.html"  target="element">
				  				<area shape="rect" coords="34,447,227,502" href="../elements/id-7df42551fbd5468e87166161b8c6a77d.html"  target="element">
				  				<area shape="rect" coords="34,255,227,310" href="../elements/id-afb5b837ac4f4d5fb463b5d02a12cb05.html"  target="element">

				          <area shape="rect" coords="10,15,251,634" href="../objects/id-3cf7db48dd524512931d1d880822a0d4.html" target="element" >
				          <area shape="rect" coords="618,587,829,634" href="../objects/id-ddd01c9555784bc0a88b6a9785408b10.html" target="element" >
				          <area shape="rect" coords="226,10,767,47" href="../objects/id-d94c658164d84b52be6d49735332bbab.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023-04-06</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d94c658164d84b52be6d49735332bbab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d94c658164d84b52be6d49735332bbab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ddd01c9555784bc0a88b6a9785408b10.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ddd01c9555784bc0a88b6a9785408b10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3cf7db48dd524512931d1d880822a0d4.html" target="element"> Requirements Breakdown </a> </td>
									           <td> <a href="../objects/id-3cf7db48dd524512931d1d880822a0d4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-afb5b837ac4f4d5fb463b5d02a12cb05.html" target="element"> Stakeholders Requirements </a> </td>
													    <td> <a href="../elements/id-afb5b837ac4f4d5fb463b5d02a12cb05.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7df42551fbd5468e87166161b8c6a77d.html" target="element"> Architectural Technical Requirements </a> </td>
													    <td> <a href="../elements/id-7df42551fbd5468e87166161b8c6a77d.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1e488b633be4cdc9f1b181de21d48d1.html" target="element"> Stolution Requirements &amp; Trasition Requirements </a> </td>
													    <td> <a href="../elements/id-f1e488b633be4cdc9f1b181de21d48d1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a7090021812643ce82728f546c8c506b.html" target="element"> Strategic Objective </a> </td>
													    <td> <a href="../elements/id-a7090021812643ce82728f546c8c506b.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3900418ebd814278b3549247a8d97dc9.html" target="element"> Business Requirements </a> </td>
													    <td> <a href="../elements/id-3900418ebd814278b3549247a8d97dc9.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
											    <td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element"> Reduction of personnel costs </a> </td>
											    <td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
											    <td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html" target="element"> Improvement in data consistencey </a> </td>
											    <td> <a href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
											    <td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
											    <td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element"> CRM Data Should Be Maintained Centrally </a> </td>
											    <td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
											    <td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element"> Support for Financial Transactions </a> </td>
											    <td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element"> Support for Policy Administration </a> </td>
											    <td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html" target="view"> Phase_A Vision Views </a> </td>
											    <td> <a href="../views/id-3b96fce92d734feb8eeaf90e230e8d0c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-cf0311a88c8644f591fad4a9339dab97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf0311a88c8644f591fad4a9339dab97.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
																		<td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc1d8ca5b60248969d1869077269e030.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc1d8ca5b60248969d1869077269e030.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8377434cd99543ae9b905acf518b38f9.html" target="element"> Redunction of costs </a> </td>
																		<td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element"> Reduction of personnel costs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-158d6dd6a304449e84d19bfbc7a72f50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-158d6dd6a304449e84d19bfbc7a72f50.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
																		<td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8190c0598f64f7ba62e8267d1a1d98e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8190c0598f64f7ba62e8267d1a1d98e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
																		<td> <a href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html" target="element"> Improvement in data consistencey </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-795e031f309844e69e6a1c20b64f5b5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-795e031f309844e69e6a1c20b64f5b5a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
																		<td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d97a41dce1bc481e83c4b63e31d29bad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d97a41dce1bc481e83c4b63e31d29bad.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
																		<td> <a href="../elements/id-04ae8d4a65a942bc87193162bfbdf710.html" target="element"> Reduction of personnel costs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7820330914504022b65b1dd90673271d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7820330914504022b65b1dd90673271d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element"> CRM Data Should Be Maintained Centrally </a> </td>
																		<td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d1cd2ed093754238a509348f1cadbbf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1cd2ed093754238a509348f1cadbbf5.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element"> CRM Data Should Be Maintained Centrally </a> </td>
																		<td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-72149898469548bd87358f70ec1e210c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72149898469548bd87358f70ec1e210c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
																		<td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd7dd8d0529345afb6be54f728af4e75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd7dd8d0529345afb6be54f728af4e75.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
																		<td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element"> Support for Financial Transactions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a5c9f720b854f42ad444f306d06aec9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a5c9f720b854f42ad444f306d06aec9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
																		<td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element"> Support for Policy Administration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>