<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Figure-18_Requirements_Realization</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Figure-18_Requirements_Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a4c5178288504246b1e896b2cf8f0cf8.png" alt="Figure-18_Requirements_Realization" usemap="#id-a4c5178288504246b1e896b2cf8f0cf8map"/>
			   <map name="id-a4c5178288504246b1e896b2cf8f0cf8map">
				          <area shape="rect" coords="310,634,495,714" href="../objects/id-fa88d725ea8b460d9011f5a063358ddf.html" target="element" >
				  		<area shape="rect" coords="10,546,130,601" href="../elements/id-c4cfc11a161c46b5bc7cc50cbbff9f88.html"  target="element">
				  		<area shape="rect" coords="526,546,665,601" href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html"  target="element">
				  		<area shape="rect" coords="192,546,331,601" href="../elements/id-ed85d463a38e43a5997bfcbf7d836dd5.html"  target="element">
				  		<area shape="rect" coords="696,550,831,611" href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html"  target="element">
				  		<area shape="rect" coords="370,550,505,611" href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html"  target="element">
				  		<area shape="rect" coords="536,442,656,497" href="../elements/id-b21499b418c443d8b18d033907ce1266.html"  target="element">
				  		<area shape="rect" coords="84,442,445,497" href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html"  target="element">
				  		<area shape="rect" coords="84,334,241,389" href="../elements/id-4d4161ddd4014aef98282c2d90b5741c.html"  target="element">
				  		<area shape="rect" coords="288,334,445,389" href="../elements/id-3a0f278c72bf4e83b7ed42b7674f06cc.html"  target="element">
				  		<area shape="rect" coords="517,334,674,389" href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html"  target="element">
				  		<area shape="rect" coords="408,238,565,293" href="../elements/id-bd37b472c68a4b909f690a0da08ffe6a.html"  target="element">
				  		<area shape="rect" coords="517,155,674,210" href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html"  target="element">
				  		<area shape="rect" coords="84,154,241,209" href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html"  target="element">
				  		<area shape="rect" coords="288,154,445,209" href="../elements/id-bbd0385f84594601823b9f1006bfd621.html"  target="element">
				  		<area shape="rect" coords="192,58,349,113" href="../elements/id-c7429e7256dd45779e04094470dac4b8.html"  target="element">
				          <area shape="rect" coords="646,46,857,93" href="../objects/id-b6bf1feff6d544a78bfb819f7fccbc37.html" target="element" >
				          <area shape="rect" coords="118,10,659,47" href="../objects/id-14310541b7d84aea9ba9821d1e653f82.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/16</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-14310541b7d84aea9ba9821d1e653f82.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-14310541b7d84aea9ba9821d1e653f82.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b6bf1feff6d544a78bfb819f7fccbc37.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b6bf1feff6d544a78bfb819f7fccbc37.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
											    <td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element"> Support for Financial Transactions </a> </td>
											    <td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element"> Support for Policy Administration </a> </td>
											    <td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element"> CRM Data Should Be Maintained Centrally </a> </td>
											    <td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd37b472c68a4b909f690a0da08ffe6a.html" target="element"> L1 Handle Claim </a> </td>
											    <td> <a href="../elements/id-bd37b472c68a4b909f690a0da08ffe6a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html" target="element"> CRM Data Access </a> </td>
											    <td> <a href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a0f278c72bf4e83b7ed42b7674f06cc.html" target="element"> Financial Service </a> </td>
											    <td> <a href="../elements/id-3a0f278c72bf4e83b7ed42b7674f06cc.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d4161ddd4014aef98282c2d90b5741c.html" target="element"> Policy Administration Service </a> </td>
											    <td> <a href="../elements/id-4d4161ddd4014aef98282c2d90b5741c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
											    <td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
											    <td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
											    <td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
											    <td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed85d463a38e43a5997bfcbf7d836dd5.html" target="element"> Back Office Suite Implementation </a> </td>
											    <td> <a href="../elements/id-ed85d463a38e43a5997bfcbf7d836dd5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element"> CRM System Implementation </a> </td>
											    <td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c4cfc11a161c46b5bc7cc50cbbff9f88.html" target="element"> ArchiSurance General-Purpose Back-Up Server Cluster </a> </td>
											    <td> <a href="../elements/id-c4cfc11a161c46b5bc7cc50cbbff9f88.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fa88d725ea8b460d9011f5a063358ddf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fa88d725ea8b460d9011f5a063358ddf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-fd7dd8d0529345afb6be54f728af4e75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd7dd8d0529345afb6be54f728af4e75.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
																		<td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element"> Support for Financial Transactions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a5c9f720b854f42ad444f306d06aec9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a5c9f720b854f42ad444f306d06aec9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7429e7256dd45779e04094470dac4b8.html" target="element"> Shared Back Office Application for all Porducts </a> </td>
																		<td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element"> Support for Policy Administration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4a4f9d909f84d68b7142f2ecd10ffa6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4a4f9d909f84d68b7142f2ecd10ffa6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html" target="element"> CRM Data Access </a> </td>
																		<td> <a href="../elements/id-3b2a9fbfa97c46a49d246f567042431c.html" target="element"> CRM Data Should Be Maintained Centrally </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67092c51191b4537b10edaa8ce05c533.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67092c51191b4537b10edaa8ce05c533.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html" target="element"> CRM Data Access </a> </td>
																		<td> <a href="../elements/id-bd37b472c68a4b909f690a0da08ffe6a.html" target="element"> L1 Handle Claim </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fe45197156e43daaab194c9c01f8fd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fe45197156e43daaab194c9c01f8fd5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html" target="element"> CRM Data Access </a> </td>
																		<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aff67034a416464a87e2da0e8f623294.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aff67034a416464a87e2da0e8f623294.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a0f278c72bf4e83b7ed42b7674f06cc.html" target="element"> Financial Service </a> </td>
																		<td> <a href="../elements/id-bbd0385f84594601823b9f1006bfd621.html" target="element"> Support for Financial Transactions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe4e5d0b6afb4365b73696241fbd0f00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe4e5d0b6afb4365b73696241fbd0f00.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a0f278c72bf4e83b7ed42b7674f06cc.html" target="element"> Financial Service </a> </td>
																		<td> <a href="../elements/id-bd37b472c68a4b909f690a0da08ffe6a.html" target="element"> L1 Handle Claim </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-104f48fcbfae4111af381e2dc2dc8724.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-104f48fcbfae4111af381e2dc2dc8724.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d4161ddd4014aef98282c2d90b5741c.html" target="element"> Policy Administration Service </a> </td>
																		<td> <a href="../elements/id-8ef1fdc0777a4403a4801d86abb0ea80.html" target="element"> Support for Policy Administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dee9a8b791b64e5991b229075a89d9d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dee9a8b791b64e5991b229075a89d9d6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d4161ddd4014aef98282c2d90b5741c.html" target="element"> Policy Administration Service </a> </td>
																		<td> <a href="../elements/id-bd37b472c68a4b909f690a0da08ffe6a.html" target="element"> L1 Handle Claim </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-647aed5f13944f469325b7211f1c619d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-647aed5f13944f469325b7211f1c619d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																		<td> <a href="../elements/id-3a0f278c72bf4e83b7ed42b7674f06cc.html" target="element"> Financial Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed44619696ad4fa6b7cbb1712db72d03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed44619696ad4fa6b7cbb1712db72d03.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																		<td> <a href="../elements/id-4d4161ddd4014aef98282c2d90b5741c.html" target="element"> Policy Administration Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-efdd5f80598a4c23ad81fe1021b7a8da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efdd5f80598a4c23ad81fe1021b7a8da.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																		<td> <a href="../elements/id-a4ff2e5f63634111aeac4a550c41f7bb.html" target="element"> CRM Data Access </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b9555184fb984543a082e5f4d9c21a1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9555184fb984543a082e5f4d9c21a1e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
																		<td> <a href="../elements/id-ed85d463a38e43a5997bfcbf7d836dd5.html" target="element"> Back Office Suite Implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f8068806f6fa40a29f6a11082b089c23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8068806f6fa40a29f6a11082b089c23.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
																		<td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element"> CRM System Implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4fbbf33290764d49b3777e1205b4de7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fbbf33290764d49b3777e1205b4de7c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed85d463a38e43a5997bfcbf7d836dd5.html" target="element"> Back Office Suite Implementation </a> </td>
																		<td> <a href="../elements/id-6610a957cdb44757b0b3f59ba7885bb3.html" target="element"> ArchiSurance Back Office Suite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9969d086236f48a8a1cc0bdc86f13973.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9969d086236f48a8a1cc0bdc86f13973.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element"> CRM System Implementation </a> </td>
																		<td> <a href="../elements/id-b21499b418c443d8b18d033907ce1266.html" target="element"> General CRM System </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a64d1a0b78ef4d40911f3c64de406676.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a64d1a0b78ef4d40911f3c64de406676.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c4cfc11a161c46b5bc7cc50cbbff9f88.html" target="element"> ArchiSurance General-Purpose Back-Up Server Cluster </a> </td>
																		<td> <a href="../elements/id-ed85d463a38e43a5997bfcbf7d836dd5.html" target="element"> Back Office Suite Implementation </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>