<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05 Principles View (v2 and v3.1)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05 Principles View (v2 and v3.1)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f4688f312619422594a58673dfbbe371.png" alt="05 Principles View (v2 and v3.1)" usemap="#id-f4688f312619422594a58673dfbbe371map"/>
			   <map name="id-f4688f312619422594a58673dfbbe371map">
				  		<area shape="rect" coords="130,178,291,233" href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html"  target="element">
				  		<area shape="rect" coords="310,178,471,233" href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html"  target="element">
				  		<area shape="rect" coords="272,88,433,143" href="../elements/id-d44662d3984845868394da79007de9ab.html"  target="element">
				  		<area shape="rect" coords="75,88,236,143" href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html"  target="element">
				          <area shape="rect" coords="370,274,581,321" href="../objects/id-089c9d5fb37541688ded998b3476051f.html" target="element" >
				          <area shape="rect" coords="10,10,551,47" href="../objects/id-20a76381381c45f687968abf0b432d1b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023-04-03</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-20a76381381c45f687968abf0b432d1b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-20a76381381c45f687968abf0b432d1b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-089c9d5fb37541688ded998b3476051f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-089c9d5fb37541688ded998b3476051f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html" target="element"> Improvement in data consistencey </a> </td>
											    <td> <a href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
											    <td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
											    <td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
											    <td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-795e031f309844e69e6a1c20b64f5b5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-795e031f309844e69e6a1c20b64f5b5a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f21a591224e4e57af8bf54bc2c4821b.html" target="element"> Common use of applications </a> </td>
																		<td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b8190c0598f64f7ba62e8267d1a1d98e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8190c0598f64f7ba62e8267d1a1d98e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
																		<td> <a href="../elements/id-27481cf7c70f47faa792099e2bc0d393.html" target="element"> Improvement in data consistencey </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-158d6dd6a304449e84d19bfbc7a72f50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-158d6dd6a304449e84d19bfbc7a72f50.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a1f2097b7b64e9a8c7599ce8d868497.html" target="element"> Single system of record for each data element </a> </td>
																		<td> <a href="../elements/id-d44662d3984845868394da79007de9ab.html" target="element"> Reduction of maintenance costs </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>