<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Figure29_Infrastructure-View(Baseline)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Figure29_Infrastructure-View(Baseline)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bf43be005ff34576b953db2bb919827f.png" alt="Figure29_Infrastructure-View(Baseline)" usemap="#id-bf43be005ff34576b953db2bb919827fmap"/>
			   <map name="id-bf43be005ff34576b953db2bb919827fmap">
				  		<area shape="rect" coords="568,382,688,437" href="../elements/id-fc81c59301c74e6091f5fc6a71806b90.html"  target="element">
				  								<area shape="rect" coords="1006,358,1146,413" href="../elements/id-7215c34337a94a83aaf27286ca26ff9a.html"  target="element">

				  						<area shape="rect" coords="970,310,1186,430" href="../elements/id-e3db9bcce34742c59d56a47f1eada354.html"  target="element">

				  				<area shape="rect" coords="946,274,1204,444" href="../elements/id-f6972b6e413f45bd836c04dd5b3975cc.html"  target="element">
				  				<area shape="rect" coords="934,478,1054,533" href="../elements/id-3b96ef3dad1d4b09bc1d5efc6703422d.html"  target="element">

				  		<area shape="rect" coords="922,238,1223,550" href="../elements/id-8065100119454d47837f20c80e9c921c.html"  target="element">
				  								<area shape="rect" coords="569,682,709,737" href="../elements/id-7ec6d44c75e7499581c16427b0c779d3.html"  target="element">

				  						<area shape="rect" coords="557,634,721,743" href="../elements/id-2bc2be7c5ab74035b1b554bc09c213cf.html"  target="element">

				  				<area shape="rect" coords="533,598,750,766" href="../elements/id-76602ed754ba47d69987d2483fe99f71.html"  target="element">
				  								<area shape="rect" coords="312,679,452,734" href="../elements/id-123918315d974b0b8ac5657bd832c448.html"  target="element">

				  						<area shape="rect" coords="300,631,475,742" href="../elements/id-3c738372322d4ee787a9387b03c9523b.html"  target="element">

				  				<area shape="rect" coords="282,598,498,767" href="../elements/id-a7e5d59f13da4faebe1832f2bb5d4b90.html"  target="element">
				  				<area shape="rect" coords="485,526,605,581" href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html"  target="element">

				  		<area shape="rect" coords="269,490,773,802" href="../elements/id-574fc77f3b454f0cb576969a401f2986.html"  target="element">
				  								<area shape="rect" coords="681,238,838,293" href="../elements/id-407fa7d8ea634cccb1cab201fc34c1a4.html"  target="element">
				  								<area shape="rect" coords="683,173,840,228" href="../elements/id-5e0de9cf34dd4dc6a2993e19cb4b7ab7.html"  target="element">

				  						<area shape="rect" coords="671,130,851,322" href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html"  target="element">

				  				<area shape="rect" coords="647,106,874,345" href="../elements/id-6554d3ff299f4f1da9f0a0a3e561ddb1.html"  target="element">
				  								<area shape="rect" coords="322,271,453,326" href="../elements/id-371932210a474c7cb33961fe60f9a86c.html"  target="element">
				  								<area shape="rect" coords="190,271,321,326" href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html"  target="element">
				  								<area shape="rect" coords="58,271,189,326" href="../elements/id-14f5221b0a3c411e9eac2502923bb570.html"  target="element">

				  						<area shape="rect" coords="46,238,464,347" href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html"  target="element">
				  								<area shape="rect" coords="185,144,322,199" href="../elements/id-e545ad810861458a870230e767e458ee.html"  target="element">

				  						<area shape="rect" coords="130,118,370,215" href="../elements/id-82345c862d534b09ba12aaca2e34dd03.html"  target="element">

				  				<area shape="rect" coords="34,94,478,358" href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html"  target="element">
				  				<area shape="rect" coords="502,186,622,241" href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html"  target="element">

				  		<area shape="rect" coords="10,70,886,370" href="../elements/id-750378272ad040ce814589603cff219d.html"  target="element">
				          <area shape="rect" coords="826,694,1037,741" href="../objects/id-7c8ce98cc3654e11bff4d7b1fe9f5650.html" target="element" >
				          <area shape="rect" coords="250,10,791,47" href="../objects/id-b37f1d652751402cb91e47de881bb516.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Last Update</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2023/5/16</td></tr><tr><td>Last Updated by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Xiaoqi Zhao</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-b37f1d652751402cb91e47de881bb516.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b37f1d652751402cb91e47de881bb516.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7c8ce98cc3654e11bff4d7b1fe9f5650.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7c8ce98cc3654e11bff4d7b1fe9f5650.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-750378272ad040ce814589603cff219d.html" target="element"> Home &amp; Away Headquarters </a> </td>
											    <td> <a href="../elements/id-750378272ad040ce814589603cff219d.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element"> Home &amp; Away LAN </a> </td>
													    <td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
													    <td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-82345c862d534b09ba12aaca2e34dd03.html" target="element"> FO Web Hosting Server </a> </td>
															    <td> <a href="../elements/id-82345c862d534b09ba12aaca2e34dd03.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-e545ad810861458a870230e767e458ee.html" target="element"> Web Portal Implementation </a> </td>
																	    <td> <a href="../elements/id-e545ad810861458a870230e767e458ee.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
															    <td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-14f5221b0a3c411e9eac2502923bb570.html" target="element"> Call Center Implementation </a> </td>
																	    <td> <a href="../elements/id-14f5221b0a3c411e9eac2502923bb570.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element"> CRM System Implementation </a> </td>
																	    <td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-371932210a474c7cb33961fe60f9a86c.html" target="element"> Legal Expense CRM System Implementation </a> </td>
																	    <td> <a href="../elements/id-371932210a474c7cb33961fe60f9a86c.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-6554d3ff299f4f1da9f0a0a3e561ddb1.html" target="element"> Homeowner's &amp; Travel Back Office </a> </td>
													    <td> <a href="../elements/id-6554d3ff299f4f1da9f0a0a3e561ddb1.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
															    <td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-5e0de9cf34dd4dc6a2993e19cb4b7ab7.html" target="element"> Home &amp; Away Financial Application Implementation </a> </td>
																	    <td> <a href="../elements/id-5e0de9cf34dd4dc6a2993e19cb4b7ab7.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-407fa7d8ea634cccb1cab201fc34c1a4.html" target="element"> Home &amp; Away Policy Administration Implementation </a> </td>
																	    <td> <a href="../elements/id-407fa7d8ea634cccb1cab201fc34c1a4.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-574fc77f3b454f0cb576969a401f2986.html" target="element"> PRO-FIT Headquarters </a> </td>
											    <td> <a href="../elements/id-574fc77f3b454f0cb576969a401f2986.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html" target="element"> PRO-FIT LAN </a> </td>
													    <td> <a href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a7e5d59f13da4faebe1832f2bb5d4b90.html" target="element"> Auto Back Office </a> </td>
													    <td> <a href="../elements/id-a7e5d59f13da4faebe1832f2bb5d4b90.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3c738372322d4ee787a9387b03c9523b.html" target="element"> Auto General-Purpose Server </a> </td>
															    <td> <a href="../elements/id-3c738372322d4ee787a9387b03c9523b.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-123918315d974b0b8ac5657bd832c448.html" target="element"> Auto Insurance Implementation </a> </td>
																	    <td> <a href="../elements/id-123918315d974b0b8ac5657bd832c448.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element"> Shared Service Center </a> </td>
													    <td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2bc2be7c5ab74035b1b554bc09c213cf.html" target="element"> Document Management Server </a> </td>
															    <td> <a href="../elements/id-2bc2be7c5ab74035b1b554bc09c213cf.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-7ec6d44c75e7499581c16427b0c779d3.html" target="element"> DMS Implementation </a> </td>
																	    <td> <a href="../elements/id-7ec6d44c75e7499581c16427b0c779d3.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-8065100119454d47837f20c80e9c921c.html" target="element"> LegallyYours Headquarters </a> </td>
											    <td> <a href="../elements/id-8065100119454d47837f20c80e9c921c.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3b96ef3dad1d4b09bc1d5efc6703422d.html" target="element"> LegallyYours LAN </a> </td>
													    <td> <a href="../elements/id-3b96ef3dad1d4b09bc1d5efc6703422d.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f6972b6e413f45bd836c04dd5b3975cc.html" target="element"> Legal Expense Back Office </a> </td>
													    <td> <a href="../elements/id-f6972b6e413f45bd836c04dd5b3975cc.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e3db9bcce34742c59d56a47f1eada354.html" target="element"> Legal Expense General-Purpose Server </a> </td>
															    <td> <a href="../elements/id-e3db9bcce34742c59d56a47f1eada354.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-7215c34337a94a83aaf27286ca26ff9a.html" target="element"> Legal Expesne Back Office Implementation </a> </td>
																	    <td> <a href="../elements/id-7215c34337a94a83aaf27286ca26ff9a.html" target="element" class="i18n-elementtype-Artifact">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-fc81c59301c74e6091f5fc6a71806b90.html" target="element"> ArchiSurance WAN </a> </td>
											    <td> <a href="../elements/id-fc81c59301c74e6091f5fc6a71806b90.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-662e39ba39a64f85a0372dd4fd163b9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-662e39ba39a64f85a0372dd4fd163b9b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-750378272ad040ce814589603cff219d.html" target="element"> Home &amp; Away Headquarters </a> </td>
																		<td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element"> Home &amp; Away LAN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3bd772cc8ab486c84dd482d4ccdcdb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3bd772cc8ab486c84dd482d4ccdcdb2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-750378272ad040ce814589603cff219d.html" target="element"> Home &amp; Away Headquarters </a> </td>
																		<td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37db87c586cc478e98571f64c4c1d196.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37db87c586cc478e98571f64c4c1d196.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-750378272ad040ce814589603cff219d.html" target="element"> Home &amp; Away Headquarters </a> </td>
																		<td> <a href="../elements/id-6554d3ff299f4f1da9f0a0a3e561ddb1.html" target="element"> Homeowner's &amp; Travel Back Office </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0d4cf9f116d649f48fb5eef9e69b63a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d4cf9f116d649f48fb5eef9e69b63a0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element"> Home &amp; Away LAN </a> </td>
																				<td> <a href="../elements/id-82345c862d534b09ba12aaca2e34dd03.html" target="element"> FO Web Hosting Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-87e2335d8c5e4dfd860c252cfb048647.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-87e2335d8c5e4dfd860c252cfb048647.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element"> Home &amp; Away LAN </a> </td>
																				<td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8bb6c90f9c5a4d8cbdbf0b8069e5f83e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bb6c90f9c5a4d8cbdbf0b8069e5f83e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element"> Home &amp; Away LAN </a> </td>
																				<td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-36b60003877f419a8f758a6d78f800d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-36b60003877f419a8f758a6d78f800d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
																				<td> <a href="../elements/id-82345c862d534b09ba12aaca2e34dd03.html" target="element"> FO Web Hosting Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b7f007216e15427c85f9a79307370c5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b7f007216e15427c85f9a79307370c5d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-38fbc1ae8d194e9c9b540fc37a550b4e.html" target="element"> Front Office </a> </td>
																				<td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-aafa0e7802c242ceb3b0788289589938.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-aafa0e7802c242ceb3b0788289589938.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-82345c862d534b09ba12aaca2e34dd03.html" target="element"> FO Web Hosting Server </a> </td>
																						<td> <a href="../elements/id-e545ad810861458a870230e767e458ee.html" target="element"> Web Portal Implementation </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-f8068806f6fa40a29f6a11082b089c23.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f8068806f6fa40a29f6a11082b089c23.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
																						<td> <a href="../elements/id-4437efa6c6184f4e87f79a30d653e3b0.html" target="element"> CRM System Implementation </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-4d06f9101f434c4d93e666f0ec33c090.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-4d06f9101f434c4d93e666f0ec33c090.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
																						<td> <a href="../elements/id-14f5221b0a3c411e9eac2502923bb570.html" target="element"> Call Center Implementation </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f2cad22556d541e3886b89324fbd8d2a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f2cad22556d541e3886b89324fbd8d2a.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4119b884e63a4636b38039e9acbeeecb.html" target="element"> FO General-Purpose Server </a> </td>
																						<td> <a href="../elements/id-371932210a474c7cb33961fe60f9a86c.html" target="element"> Legal Expense CRM System Implementation </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-dfea1187d69941fa923c4562c245933d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dfea1187d69941fa923c4562c245933d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6554d3ff299f4f1da9f0a0a3e561ddb1.html" target="element"> Homeowner's &amp; Travel Back Office </a> </td>
																				<td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-3a1d817b424144ce860ea891bd3d26b5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3a1d817b424144ce860ea891bd3d26b5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
																						<td> <a href="../elements/id-5e0de9cf34dd4dc6a2993e19cb4b7ab7.html" target="element"> Home &amp; Away Financial Application Implementation </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-51a95316419b40a18b2eda4ea0f8b194.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-51a95316419b40a18b2eda4ea0f8b194.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8ec059a348f3437b83c8e0c41054b246.html" target="element"> ArchiSurance General-Purpose Server Cluster </a> </td>
																						<td> <a href="../elements/id-407fa7d8ea634cccb1cab201fc34c1a4.html" target="element"> Home &amp; Away Policy Administration Implementation </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-cf92cb8ba47545f1a6aa48a990b97d5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf92cb8ba47545f1a6aa48a990b97d5f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-574fc77f3b454f0cb576969a401f2986.html" target="element"> PRO-FIT Headquarters </a> </td>
																		<td> <a href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html" target="element"> PRO-FIT LAN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37f4960cec8c4636ae56aaf575ecacb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37f4960cec8c4636ae56aaf575ecacb6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-574fc77f3b454f0cb576969a401f2986.html" target="element"> PRO-FIT Headquarters </a> </td>
																		<td> <a href="../elements/id-a7e5d59f13da4faebe1832f2bb5d4b90.html" target="element"> Auto Back Office </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ac378c9fd384b818bed1908b5870d45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ac378c9fd384b818bed1908b5870d45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-574fc77f3b454f0cb576969a401f2986.html" target="element"> PRO-FIT Headquarters </a> </td>
																		<td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element"> Shared Service Center </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-31710d03c2db42e68591d1ef43a149c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31710d03c2db42e68591d1ef43a149c6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html" target="element"> PRO-FIT LAN </a> </td>
																				<td> <a href="../elements/id-2bc2be7c5ab74035b1b554bc09c213cf.html" target="element"> Document Management Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-477d7e094c264a68b5738d72c0fe04b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-477d7e094c264a68b5738d72c0fe04b3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html" target="element"> PRO-FIT LAN </a> </td>
																				<td> <a href="../elements/id-3c738372322d4ee787a9387b03c9523b.html" target="element"> Auto General-Purpose Server </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b0a8792d8b9c4564a4ef11c1bc24552a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b0a8792d8b9c4564a4ef11c1bc24552a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a7e5d59f13da4faebe1832f2bb5d4b90.html" target="element"> Auto Back Office </a> </td>
																				<td> <a href="../elements/id-3c738372322d4ee787a9387b03c9523b.html" target="element"> Auto General-Purpose Server </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-2a4cefc46fca4b2bb3430cb31e5c38da.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2a4cefc46fca4b2bb3430cb31e5c38da.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3c738372322d4ee787a9387b03c9523b.html" target="element"> Auto General-Purpose Server </a> </td>
																						<td> <a href="../elements/id-123918315d974b0b8ac5657bd832c448.html" target="element"> Auto Insurance Implementation </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-09e9e744e8974781ad52a02f5403ff4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09e9e744e8974781ad52a02f5403ff4f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-76602ed754ba47d69987d2483fe99f71.html" target="element"> Shared Service Center </a> </td>
																				<td> <a href="../elements/id-2bc2be7c5ab74035b1b554bc09c213cf.html" target="element"> Document Management Server </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-7ab9ba1170114174a502b1622dcb5c12.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7ab9ba1170114174a502b1622dcb5c12.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2bc2be7c5ab74035b1b554bc09c213cf.html" target="element"> Document Management Server </a> </td>
																						<td> <a href="../elements/id-7ec6d44c75e7499581c16427b0c779d3.html" target="element"> DMS Implementation </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-42032a0195d34b82851c132832960f08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42032a0195d34b82851c132832960f08.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8065100119454d47837f20c80e9c921c.html" target="element"> LegallyYours Headquarters </a> </td>
																		<td> <a href="../elements/id-3b96ef3dad1d4b09bc1d5efc6703422d.html" target="element"> LegallyYours LAN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06f2ed344dd147e1ac48176c3bac8fed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06f2ed344dd147e1ac48176c3bac8fed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8065100119454d47837f20c80e9c921c.html" target="element"> LegallyYours Headquarters </a> </td>
																		<td> <a href="../elements/id-f6972b6e413f45bd836c04dd5b3975cc.html" target="element"> Legal Expense Back Office </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-edc750bfcfff40da901356130b1b90b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-edc750bfcfff40da901356130b1b90b2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b96ef3dad1d4b09bc1d5efc6703422d.html" target="element"> LegallyYours LAN </a> </td>
																				<td> <a href="../elements/id-e3db9bcce34742c59d56a47f1eada354.html" target="element"> Legal Expense General-Purpose Server </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c9402b0aa3f74f248271df46948ac16d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c9402b0aa3f74f248271df46948ac16d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f6972b6e413f45bd836c04dd5b3975cc.html" target="element"> Legal Expense Back Office </a> </td>
																				<td> <a href="../elements/id-e3db9bcce34742c59d56a47f1eada354.html" target="element"> Legal Expense General-Purpose Server </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-f40147c56bb341379933461f6415ef84.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f40147c56bb341379933461f6415ef84.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e3db9bcce34742c59d56a47f1eada354.html" target="element"> Legal Expense General-Purpose Server </a> </td>
																						<td> <a href="../elements/id-7215c34337a94a83aaf27286ca26ff9a.html" target="element"> Legal Expesne Back Office Implementation </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-2e4c6ed8dd2d49a284ecf7db13428cf3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e4c6ed8dd2d49a284ecf7db13428cf3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc81c59301c74e6091f5fc6a71806b90.html" target="element"> ArchiSurance WAN </a> </td>
																		<td> <a href="../elements/id-bacccb30a9344c55a3fdd2d91d4738eb.html" target="element"> Home &amp; Away LAN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3aa5f7022b44e67b877fbdb6e138c89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3aa5f7022b44e67b877fbdb6e138c89.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc81c59301c74e6091f5fc6a71806b90.html" target="element"> ArchiSurance WAN </a> </td>
																		<td> <a href="../elements/id-3b96ef3dad1d4b09bc1d5efc6703422d.html" target="element"> LegallyYours LAN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-412ee9135c2244a688000841e8296598.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-412ee9135c2244a688000841e8296598.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc81c59301c74e6091f5fc6a71806b90.html" target="element"> ArchiSurance WAN </a> </td>
																		<td> <a href="../elements/id-65a74ecebd19402d98e78521f3c9d258.html" target="element"> PRO-FIT LAN </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>